.btnHtp {
    bottom: 17.6%;
    right: 2.6%;
    width: 17rem;
    height: 10rem;
    position: fixed;
    z-index: 999999;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    font-size: 0.7vw;
    font-family: "Simplicity";
    color: #ffffff;
    display: flex;
}


.btnHtp img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.btnHtp:hover img{
    transform: scale(1.06);
}

.btnHtp span {
    display: flex;
    position: absolute;
    transition: font-size 0.3s ease;
    bottom: -1.5rem;
    color: rgba(36, 185, 198, 1);
    transition: font-size 0.3s ease;
    font-size: 0.7vw;
    cursor: pointer;
    text-shadow: 
    -0.2rem -0.2rem 0 white,  
    0.2rem -0.2rem 0 white,  
    -0.2rem  0.2rem 0 white,  
    0.2rem  0.2rem 0 white,  
    0.3rem 0.3rem 0.1rem rgba(0, 0, 0, 0.6);
}

.btnHtp:hover span {
    text-shadow: 
    -0.2rem -0.2rem 0 white,  
    0.2rem -0.2rem 0 white,  
    -0.2rem  0.2rem 0 white,  
    0.2rem  0.2rem 0 white,  
    0.4rem 0.4rem 0.1rem rgba(0, 0, 0, 0.7);
}

.buttonBox {
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 2%;
    right: 1%;
    margin: 0 auto;
    transform: translate(0, 0);
    /* height: 64px; */
    padding: 4rem;
    display: flex;
    gap: 15px;
    z-index: 9999;

}

.actical {
    width: 600px;
    color: #000000;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 2px;
    line-height: 1.7;
    font-size: 16px;
    margin-top: -25px;
    margin-left: 70px;
    font-family: "AdobeHeitiStd-Regular";
    height: 160px;
}

.copywritingTwo {
    display: flex;
    letter-spacing: 1px;
}

.part2 {
    width: 570px;
    display: grid;
    height: 150px;
    margin-top: -100px;
    margin-left: 70px;
    font-size: 15px;
    font-family: "AdobeHeitiStd-Regular";
    grid-template-columns: 1fr 0fr 1fr;
}

.part2LeftTitle {
    background-image: url("../../images/HowToPlay/HtpHorizLineLeft.webp");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    color: #E28764;
    margin-right: 20px;
    letter-spacing: 2px;
    font-size: 16px;
}

.part2LeftdataRow {
    display: flex;
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}


.part2Mid {
    border-radius: 20px;
    width: 2.5px;
    height: 95%;
    background-color: #E28764;
}


.icon {
    width: 18px;
    height: 18px;
    /* margin-top: 1px; */
    margin-right: 10px;
}


.part2RightTitle {
    background-image: url("../../images/HowToPlay/HtpHorizLineRight.webp");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    color: #E28764;
    margin-left: 20px;
    letter-spacing: 2px;
    font-size: 16px;
}


.part3 {
    width: 100%;
    height: 30px;
    margin-top: -90px;
    margin-left: 205px;
    font-size: 17px;
    text-align: center;
    font-family: "AdobeHeitiStd-Regular";
    display: flex;
}

.title {
    font-size: 22px;
    line-height: 23.04px;
    color: #ffffff;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 12px;
    font-family: "MyriadPro";
}


.eventExpiration {
    position: fixed;
    background-color: rgba(249, 174, 104, 0.9);
    border-radius: 15px;
    width: 530px;
    height: 180px;
    margin-top: 260px;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #000000;
    /* font-family: "AdobeHeitiStd-Regular"; */
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.7;
    font-family: "MyriadPro";
}

.carouselImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    object-fit: contain;
    border-radius: 3%;
}

.cornerImage {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 5%;
    left: 50%;
    width: 4.5rem;
    height: 4.5rem;
    z-index: 99999;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.cornerImage:hover{
    transform: scale(1.1);
}

.cornerImage img {
    margin-left: 0.3rem;
    position: absolute;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
}

.leftArrow {
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s ease;
    outline: none;
    user-select: none;
}

.leftArrow img{
    width: 4rem;
    height: 4rem;
}

.leftArrow:hover img {
    content: url("../../images/HowToPlay/CarouselArrowLeftHover.png");
}

.rightArrow {
    position: absolute;
    top: 50%;
    right: 5rem;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s ease;
    outline: none;
    user-select: none;
}

.rightArrow img{
    width: 4rem;
    height: 4rem;
}

.rightArrow:hover img {
    content: url("../../images/HowToPlay/CarouselArrowRightHover.png");
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    bottom: 20%;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
}

.navNumber {
    font-size: 4rem;
    cursor: pointer;
    transition: opacity 0.3s ease;
    outline: none;
    user-select: none;
    width: 1.3rem;
    height: 1.3rem;
    background-color: #aaa; 
    border-radius: 50%;
    margin: 0 0.1rem;
}

.navNumber.active {
    background-color: #fff;
    font-weight: bold;
    /* width: 1.2rem; */
    /* height: 1.2rem; */
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}

.navNumber:hover {
    opacity: 0.5;
}