.container {
  width: 249.25rem;
  height: 13.125rem;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 25rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 5rem;
}
.buttonBox {
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 1%;
  right: 1%;
  margin: 0 auto;
  transform: translate(0, 0);
  /* height: 64px; */
  padding: 4rem;
  display: flex;
  gap: 1.6rem;
  z-index: 9999; /* 确保媒体链接始终在页面显示 */
}
.buttonBox img {
  max-width: 4rem;
  max-height: 4rem;
  cursor: pointer;
}
.container2 {
  width: 121.875rem;
  height: 13.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}
@font-face {
  font-family: "AdobeHeitiStd-Regular";
  src: url("/fonts/BRLNSR.woff2");
}
@font-face {
  font-family: "Simplicity";
  src: url("/fonts/Simplicity.woff2");
}
.firstPart {
  width: 35rem;
  height: 13.125rem;
  background-image: url("../../images/PinkButton1.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  gap: 4px;
}
.firstPart p:nth-child(1) {
  display: flex;
  align-items: center;
  justify-self: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 5rem;
  text-align: center;
  letter-spacing: 0.4rem;
  color: rgba(255, 255, 255, 1);
  margin-top: 1.3rem;
  font-family: "Simplicity";
}
.firstPart p:nth-child(2) {
  text-align: center;
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.1rem;
  margin-top: -0.2rem;
  font-family: "Simplicity";
}
.itemName {
  font-weight: 600;
  color: #feed95;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 5px;
  font-family: "AdobeHeitiStd-Regular";
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.itemImage {
  width: 69px;
  height: 65px;
  margin-right: 0px;
  flex-shrink: 0;
  margin-left: 10px;
}
.itemNameto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 18px;
  margin-top: 5px;
}
.twoPart {
  width: 35rem;
  height: 13.125rem;
  background-image: url("../../images/PinkButton2.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  /* cursor: pointer; */
}
.twoPart p:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 5rem;
  text-align: center;
  letter-spacing: 0.4rem;
  color: floralwhite;
  font-size: 3.5rem;
  margin-top: 2rem;
  font-family: "Simplicity";
}
.twoPart p:nth-child(2) {
  text-align: center;
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 5rem;
  align-items: center;
  justify-content: center;
  margin-top: -0.1rem;
  font-family: "Simplicity";
}

/* 在 index.module.css 中添加以下样式 */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltipText {
  left: 50%; /* 保持在父元素的中心 */
  bottom: 50%; /* 垂直居中 */
  margin-left: -30rem; /* 水平居中 */
  transform: translate(-26%, 20%); /* 向左移动气泡，同时保持垂直居中 */
  visibility: hidden;
  width: 40.625rem; /* 13.75rem * 1.5 = 20.625rem */
  background-color: rgba(92, 193, 143, 0.8); /* 更柔和的颜色 */
  color: #fff;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影 */
  font-size: 1.9rem;
  font-family: "Simplicity";
  padding: 0.5rem 1rem; /* 调整内边距 */
  position: absolute;
  z-index: 1;
  bottom: 10%; /* 调整气泡位置，设置为按钮的顶部 */
  left: 50%;
  margin-left: -10.3125rem; /* 使气泡居中, 20.625rem / 2 = 10.3125rem */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.threePart {
  width: 35rem;
  height: 13.125rem;
  background-image: url("../../images/PinkButton3.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  white-space: nowrap;
  display: grid;
}

.balance{
  display: inline-block;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: 400;
  text-align: center;
  align-items: center;
  color: floralwhite;
  line-height: 5rem;
  letter-spacing: 0.4rem;
  font-size: 3.5rem;
  margin-top: 2rem;
  font-family: "Simplicity";
}
.threePart p:nth-child(2) {
  text-align: center;
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.1rem;
  margin-top: -0.5rem;
  font-family: "Simplicity";
}
.imgContent {
  width: 61.25rem;
  height: 9.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 60rem;
  height: 6.875rem;
}
.containerItem {
  position: relative;
  display: inline-block;
}
.imgconItem {
  width: 8.75rem;
  height: 8.75rem;
  box-sizing: border-box;
}
.iconFont {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: absolute;
  right: -0.5rem;
  top: 6.5rem;
  color: #ffffff;
  background-color: #ffb739;
  width: 2.8125rem;
  height: 2.8125rem;
  gap: 10px;
  font-family: "Alibaba-PuHuiTi-TIMESBD";
  font-size: 2.5rem;
}
.imgconItemFill {
  width: 66px;
  height: 66px;
  border: 1px solid #2f0c42;
  background-color: rgba(0, 0, 0, 0.35);
  text-align: center;
  box-sizing: border-box;
}
.buyBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
}
@font-face {
  font-family: "Alibaba-PuHuiTi-TIMESBD";
  src: url("/fonts/TIMESBD.woff2");
}
@font-face {
  font-family: "Simplicity";
  src: url("/fonts/Simplicity.woff2");
}
.buyBtn {
  width: 9.375rem;
  height: 9.5rem;
  border: none;
  background-color: #48c29b;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/Buttonto.png");
  background-size: 100% 100%;
  color: #ffffff;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 2px 4px rgba(31, 31, 31, 0.5);
  margin-left: -2rem;
  font-family: "Simplicity";
}
.buyBtn:hover {
  color: #ffffff;
  font-size: 2.7rem;
}
@font-face {
  font-family: "Alibaba-PuHuiTi";
  src: url("/fonts/Alibaba-PuHuiTi-Bold.woff2");
}
.warningIcon {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.1875rem;
  height: 3.125rem;
  font-size: 4rem;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: "Alibaba-PuHuiTi";
}

.contentSuccess {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 350px;
  border: none;
  background-image: url("../../images/gameover/fail.webp");
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-transform: uppercase;
  font-family: "Alibaba-PuHuiTi-TIMESBD";


  .turnOff {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 430px;
    top: 20px;
  }

  p {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    /* line-height: 30.72px; */
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    margin-top: 110px;
    font-family: "AdobeHeitiStd-Regular4";
    text-shadow:
      1px 1px 2px #838383,
      0 0 5px #8f8d8d,
      1px 1px 3px #949494,
      0 0 10px rgba(166, 166, 166, 0.5),
      0 0 2px #a3a3a3,
      0 0 3px #999898,
      0 0 4px #868585,
      0 0 5px rgba(183, 183, 183, 0.5),
      2px 0 2px #7f7f7f,
      3px 0 3px #7f7f7f,
      4px 0 4px #7f7f7f;
  }

  button {
    text-transform: uppercase;
    background-image: url("../../images/gameover/paybutton.webp");
    background-size: 100% 100%;
    background-position: center;
    border: none;
    background-color: transparent;
    width: 320px;
    height: 45px;
    /* gap: 10pxx; */
    font-size: 23px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 4px;
    text-align: center;
    color: #ffffff;
    transition: font-size 0.3s ease;
    text-transform: uppercase;
    text-shadow:
      -2px -2px 0 rgba(163, 162, 162, 0.7),
      2px -2px 0 rgba(180, 179, 179, 0.7),
      -2px 2px 0 rgba(165, 164, 164, 0.7),
      2px 2px 0 rgba(206, 206, 206, 0.7);
  }

  button:hover {
    color: #ffffff;
    font-size: 26px;
    text-shadow:
      -1px -1px 0 rgba(56, 56, 56, 0.7),
      1px -1px 0 rgba(71, 71, 71, 0.7),
      -1px 1px 0 rgba(59, 59, 59, 0.7),
      1px 1px 0 rgba(69, 69, 69, 0.7)
  }
}

@font-face {
  font-family: "AdobeHeitiStd-Regular6";
  src: url("/fonts/BRLNSR.woff2");
}

.contentCon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 350px;
  border: none;
  background-image: url("../../images/gameover/succeed.webp");
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  text-transform: uppercase;

  p:nth-child(1) {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    /* line-height: 30.72px; */
    letter-spacing: 3px;
    color: #ffffff;
    text-align: center;
    margin-top: 90px;
    font-family: "AdobeHeitiStd-Regular4";
    text-shadow:
      1px 1px 2px #838383,
      0 0 5px #8f8d8d,
      1px 1px 3px #949494,
      0 0 10px rgba(166, 166, 166, 0.5),
      0 0 2px #a3a3a3,
      0 0 3px #999898,
      0 0 4px #868585,
      0 0 5px rgba(183, 183, 183, 0.5),
      2px 0 2px #7f7f7f,
      3px 0 3px #7f7f7f,
      4px 0 4px #7f7f7f;
  }

  &:nth-last-child(1) {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 500;
    line-height: 30.72px;
    letter-spacing: 5px;
    color: #f16999;
    text-align: center;
    margin: 0px;
    font-family: "AdobeHeitiStd-Regular";
    text-shadow:
      1px 1px 2px #585858,
      0 0 1px #747373,
      1px 1px 1px #b3b3b3,
      0 0 1px rgba(131, 131, 131, 0.5);
  }

  button {
    text-transform: uppercase;
    background-image: url("../../images/gameover/succeedpay.webp");
    background-size: 100% 100%;
    background-position: center;
    border: none;
    background-color: transparent;
    width: 320px;
    height: 45px;
    font-size: 23px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 4px;
    text-align: center;
    color: #ffffff;
    transition: font-size 0.3s ease;
    text-transform: uppercase;
    text-shadow:
      -2px -2px 0 rgba(163, 162, 162, 0.7),
      2px -2px 0 rgba(180, 179, 179, 0.7),
      -2px 2px 0 rgba(165, 164, 164, 0.7),
      2px 2px 0 rgba(206, 206, 206, 0.7);
    /* 添加灰色边框效果 */
  }

  button:hover {
    color: #ffffff;
    font-size: 26px;
    text-shadow:
      -1px -1px 0 rgba(56, 56, 56, 0.7),
      1px -1px 0 rgba(71, 71, 71, 0.7),
      -1px 1px 0 rgba(59, 59, 59, 0.7),
      1px 1px 0 rgba(69, 69, 69, 0.7)
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100%);
  z-index: 10000000;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* pointer-events: auto !important; */
}

.overlayBuy {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100%);
  z-index: 100000;
  height: 100%;
  margin-top: 4%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: auto !important;
}

@font-face {
  font-family: "AdobeHeitiStd-Regular";
  src: url("/fonts/BRLNSR.woff2");
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 143.75rem;
  height: 121.875rem;
  background-size: 100% 100%;
  background-position: center;
  display: grid;
  gap: 24px;
  border: none;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 23.04px;
  color: #ffffff;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  text-transform: uppercase;
  font-family: "MyriadPro";
}

.actical {
  width: 600px;
  color: #000000;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  line-height: 1.7;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: -60px;
  margin-left: 70px;
  font-family: "AdobeHeitiStd-Regular";
}

.copyBox {
  display: flex;
  letter-spacing: 2.7px;
}

.copyBoxto {
  letter-spacing: 2.1px;

}

.copywritingTwo {
  display: flex;
  letter-spacing: 2px;

}

.copywritingTwobox {
  letter-spacing: 1.8px;
}

.hrefbox {
  color: #0d90ac;
  margin-left: 100px;
}

p {
  margin: 0px;
}

.btnOk {
  width: 550px;
  height: 50px;
  background-color: #fff1c8;
  opacity: 0px;
  border: none;
  background-image: url("../../images/welcome/ok.webp");
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  transition: font-size 0.3s ease;
  text-transform: uppercase;
  margin-top: 20px;
  text-shadow:
    -2px -2px 0 rgba(149, 148, 148, 0.7),
    2px -2px 0 rgba(177, 175, 175, 0.7),
    -2px 2px 0 rgba(165, 164, 164, 0.7),
    2px 2px 0 rgba(206, 206, 206, 0.7);

  &:active {
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
  }
}

.btnOk:hover {
  color: #ffffff;
  font-size: 26px;
  text-shadow:
    -1px -1px 0 rgba(56, 56, 56, 0.7),
    1px -1px 0 rgba(71, 71, 71, 0.7),
    -1px 1px 0 rgba(59, 59, 59, 0.7),
    1px 1px 0 rgba(69, 69, 69, 0.7)
}

.buYBox {
  width: 410px;
  height: 608px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 24px;
  padding: 40px;
  /* background-image: url("../../images/substance/substance.webp"); */
  background-size: 100% 100%;
  position: relative;
}

.turnOff {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 425px;
  top: 12px;
  cursor: pointer;
}

.buyBoxContent {
  margin-top: 30px;
}

.firstBuy {
  width: 370px;
  height: 75px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/substance/substancebar.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 6px auto;
  cursor: pointer;

}

.firstBuy:hover {
  background-image: url("../../images/substance/111.png");
}

.fontBuy {
  font-size: 22px;
  line-height: 28.16px;
  width: 68px;
  height: 28px;
  font-weight: 700;
  color: #cccccc;
  display: inline-block;
}

.patment {
  text-transform: uppercase;
  width: 325px;
  height: 20px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  font-family: Silkscreen;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.48px;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: #000000;
  position: absolute;
  bottom: 95px;
  left: 55px;
}

.fontbugs {
  font-size: 14px;
  line-height: 28px;
  width: 118px;
  height: 18px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  display: inline-block;
}

.commonCls1 {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.topUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 398px;
  height: 137px;
  padding: 40px;
  background-color: #2d0c3b;
  gap: 24px;
  border: 1px solid #0b0113;
  box-shadow:
    inset 0 0 12px 0 rgba(231, 189, 255, 0.2),
    0 0 12px 0 rgba(231, 189, 255, 0.05);
  position: relative;

  img {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 440px;
    top: 40px;
  }

  p {
    margin-top: 24px !important;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.04px;
    text-align: center;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    margin: 0px;
  }

  button {
    width: 400px;
    height: 44px;
    padding: 10px 0px 10px 0px;
    gap: 10px;
    margin-top: 24px;
    font-family: Silkscreen;
    background-color: #200d2f;
    border: 1px solid #0b0113;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
  }
}

.commonCls2 {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  height: 100%;
}

.payBtnBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3 {
  height: 13.125rem;
  width: 93.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
  border-radius: 8rem;
  background-image: url("../../images/PinkButton.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "AdobeHeitiStd-Regular";
  src: url("/fonts/BRLNSR.woff2");
}

.dataIcon {
  gap: 5px;
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  .pp {
    height: auto;
  }


  button {
    color: #ffffff;
    width: 23px;
    height: 23px;
    border: none;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background: none;
    /* 设置背景透明 */
    border-radius: 50px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    justify-content: center;
    margin-top: -13px;
  }

  .disabled {
    /* opacity: 0.5; */
    /* 设置按钮透明度为50% */
  }

  .addbox {
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -6px;
    margin-top: -1px;
  }

  .numData {
    width: 55px;
    height: 20px;
    font-weight: 300;
    font-size: 20px;
    background-color: transparent;
    border: none;
    letter-spacing: 5px;
    color: #ffffff;
    border: none;
    text-align: center;
    margin-top: -16px;
    font-family: "AdobeHeitiStd-Regular2";
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .numData:focus {
    outline: none;
  }
}

.twoBuy {
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 24px;
}

@font-face {
  font-family: "AdobeHeitiStd-Regular2";
  src: url("/fonts/Langyuanti.woff2");
}

.fontNum {
  line-height: 28.16px;
  height: 28px;
  color: #ffffff;
  font-size: 18px;
  display: inline-block;
  margin-top: 7px;
  letter-spacing: 0.5px;
  font-family: "AdobeHeitiStd-Regular2";
  text-shadow: 2px 2px 4px #605f5f;
}

.fontNum1 {
  margin-top: -5px;
}

.payBtn {
  width: 370px;
  height: 50px;
  border: none;
  opacity: 0px;
  background-color: #d5f7ff;
  background-image: url("../../images/welcome/playnormal.webp");
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
  margin-top: 12px;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  transition: font-size 0.3s ease;
  text-transform: uppercase;
  text-shadow:
    -2px -2px 0 rgba(149, 148, 148, 0.7),
    2px -2px 0 rgba(177, 175, 175, 0.7),
    -2px 2px 0 rgba(165, 164, 164, 0.7),
    2px 2px 0 rgba(206, 206, 206, 0.7);
}

.payBtn:hover {
  color: #ffffff;
  font-size: 26px;
  text-shadow:
    -1px -1px 0 rgba(56, 56, 56, 0.7),
    1px -1px 0 rgba(71, 71, 71, 0.7),
    -1px 1px 0 rgba(59, 59, 59, 0.7),
    1px 1px 0 rgba(69, 69, 69, 0.7)
}

.patment {
  text-transform: uppercase;
  width: 325px;
  height: 20px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  font-family: Silkscreen;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.48px;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: #000000;
  position: absolute;
  bottom: 95px;
  left: 55px;
}

.totalAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "AdobeHeitiStd-Regular2";
  width: 85%;
  margin-left: 4%;
  font-size: 13px;
  letter-spacing: 1.5px;
  line-height: 28px;
  color: #47799a;
  text-shadow:
    0 0 5px rgba(147, 211, 246, 0.8),
    0 0 10px rgba(147, 211, 246, 0.6),
    0 0 15px rgba(147, 211, 246, 0.4);
  border-radius: 10px;
  border: none;
}

.leftSpan {
  text-align: right;
  width: 145px;
}

.discountWrapper {
  position: relative;
  display: inline-block;
}

.discountTipsImg {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.discountTipsText {
  position: absolute;
  top: -140%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #caf6fe;
  color: #47799a;
  padding: 6px;
  border-radius: 6px;
  font-size: 12px;
  font-family: "AdobeHeitiStd-Regular2";
  white-space: nowrap;
  border: 1px solid #359fbf;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  text-align: center;
}

.discountWrapper:hover .discountTipsText {
  opacity: 1;
  pointer-events: auto;
}

.overlay {
  position: fixed;
  top: 126px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 250px;
  height: 10px;
  background-image: url("../../images/substance/fail.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 8px;
}

.modalto {
  width: 180px;
  height: 10px;
  background-image: url("../../images/substance/success.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

@font-face {
  font-family: "AdobeHeitiStd-Regular4";
  src: url("/fonts/Langyuanti.woff2");
}

.failto {
  width: 30px;
  height: 30px;
  float: left;
  margin-top: -10px;
}

.color {
  color: #03b243;
  font-size: 13px;
  font-weight: 500;
  line-height: 20.48px;
  font-family: "AdobeHeitiStd-Regular4";
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: -4px;
}

.colorto {
  color: red;
  font-size: 13px;
  font-weight: 500;
  font-family: "AdobeHeitiStd-Regular4";
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: -4px;
}

.modal button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

.loadingImg {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  height: 100%;
}

.wrongNetworkBtn {
  width: 370px;
  height: 50px;
  border: none;
  opacity: 0px;
  background-color: #d5f7ff;
  background-image: url("../../images/topup/wrongnetwork.webp");
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
  margin-top: 12px;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: red;
  transition: font-size 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;
}

.balanceIconFont {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #ffffff;
  background-color: #ffb739;
  width: 22px;
  height: 22px;
  gap: 10px;
  font-family: "Alibaba-PuHuiTi-TIMESBD";
  font-size: 15px;
  margin-left: -25px;
  margin-top: 48px;
}

.seeMore {
  position: fixed;
  width: 31rem;
  height: 6rem;
  top: 50%;
  left: 50%;
  transform: translate(-148%, 280%);

  background-image: url("../../images/topup/wrongnetwork.webp");
  background-size: 100% 100%;
  background-position: center;
  border: none;

  font-size: 3rem;
  font-weight: 700;
  font-family: "AdobeHeitiStd-Regular";
  letter-spacing: 0.4em;
  text-align: center;
  color: red;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: font-size 0.3s ease;
}

.seeMore a {
  white-space: nowrap;
  color: #BB9F8B;
  cursor: pointer;
  text-decoration: none;
}

.seeMore:hover {
  transform: translate(-148%, 280%) scale(1.03);
}