.buyBoxContent {
  margin-top: 30px;
  height: 411px;
  overflow-y: auto;
  width: 394px;
  margin-left: 8px;
}

.buyBoxContent::-webkit-scrollbar {
  width: 7px;
}

.buyBoxContent::-webkit-scrollbar-thumb {
  background-color: #93dfea;
  border-radius: 10px;
}

.buyBoxContent::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

/* .buyBoxContent::-webkit-scrollbar-track{
  background: transparent; 
} */

.iconFont {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #ffffff;
    background-color: #ffb739;
    width: 22px;
    height: 22px;
    gap: 10px;
    font-family: "Alibaba-PuHuiTi-TIMESBD";
    font-size: 15px;
    margin-left: -25px;
    margin-top: 48px;
}

.itemImage {
    width: 69px;
    height: 65px;
    margin-right: 0px;
    flex-shrink: 0;
    margin-left: 8px;
}