@font-face {
    font-family: "MyriadPro";
    src: url("/fonts/MYRIADPRO-BOLD.OTF") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "AdobeHeitiStd-Regular";
    src: url("/fonts/BRLNSR.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zihun-Buding";
    src: url("/fonts/ZIHUN27BUDING.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LuckiestGuy-Regular";
    src: url("/fonts/LuckiestGuy-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.giftsParkBtn {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    z-index: 10;
    font-family: "Simplicity";
    text-align: center;
    transition: transform 0.1s ease;
    cursor: pointer;
    width: 35rem;
    height: 40rem;
    margin-left: 13.97rem;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.giftsParkBtn img {
    position: absolute;
    width: 33.04rem;
    height: 33.26rem;
    object-fit: contain;
    transition: transform 0.1s ease;
    top: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.giftsParkBtn:active img {
    transform: scale(1.4);
}

.giftsParkBtn:active button {
    text-shadow:
        -0.8rem -0.8rem 0 white,
        0.8rem -0.8rem 0 white,
        -0.8rem 0.8rem 0 white,
        0.8rem 0.8rem 0 white,
        2rem 2rem 1.5rem rgba(0, 0, 0, 0.8);
}

.giftsParkBtn button {
    transition: text-shadow 0.1s ease;
    position: absolute;
    width: 57rem;
    background-color: transparent;
    border: none;
    font-family: "Simplicity";
    color: #EB5F8C;
    transition: font-size 0.1s ease;
    font-size: 4.88rem;
    font-weight: 400;
    top: 30.5rem;
    margin: 0;
    line-height: 5.7rem;
    height: 8rem;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    text-shadow:
        -0.65rem -0.65rem 0 white,
        0.65rem -0.65rem 0 white,
        -0.65rem 0.65rem 0 white,
        0.65rem 0.65rem 0 white,
        0.5rem 1rem 1rem rgba(0, 0, 0, 1);
}


.btnTips {
    position: fixed;
    width: 11.87rem;
    height: 11.87rem;
    line-height: 3rem;
    margin-top: -29rem;
    margin-right: -27rem;
    border-radius: 50%;
    color: #ffffff;
    background-image: url("../../../../images/Plants/tips.webp");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 5.78rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: btnTipsScaleIn 0.1s ease-out forwards;
}

@keyframes btnTipsScaleIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 40;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto !important;
}

.container {
    width: 249.44rem;
    height: 254.76rem;
    border: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url('../../../../images/Mobile/GiftPark/GiftParkBg.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: block;
    z-index: 41;
    animation: scaleIn 0.1s ease-out forwards;
}

.containerClosed {
    animation: scaleOut 0.1s ease-in forwards;
}

.stars {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

.title {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 10.53rem;
    color: white;
    font-weight: bold;
    font-family: MyriadPro;
    letter-spacing: 0.7rem;
    line-height: 5.92rem;
    text-shadow: -0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.71);
}

.closeImage {
    position: absolute;
    left: 235.15rem;
    top: 15rem;
    width: 8rem;
    height: 8rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.closeImage img:active {
    transform: scale(1.06);
}

.closeImage img {
    width: 14rem;
    height: 14rem;
    transition: transform 0.3s ease;
}

.containerIn {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82%;
    height: 74%;
    border: none;
    background-image: url('../../../../images/Mobile/GiftPark/GiftParkContentBg.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    place-items: center;
}

.titleStreakDay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 9.24rem;
    font-weight: 400;
    font-family: "AdobeHeitiStd-Regular";
    letter-spacing: 0.2rem !important;
    white-space: nowrap;
    line-height: 25.47rem;

    color: #B13200;

    margin-top: 20rem;
    left: 7.5rem;
    height: 8rem;
}

.titleStreakDay img {
    margin-top: 0.3rem;
    margin-left: 2.5rem;
    width: 10rem;
    cursor: pointer;
}

.titleStreakDay img:active~.playQuestion {
    visibility: visible;
    opacity: 1;
}

.titleStreakDay img:active {
    transform: scale(1.1);
}

.playQuestion {
    position: absolute;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    visibility: hidden;
    opacity: 1;
    left: -7rem;
    bottom: 6rem;
    width: 100rem;
    height: 10rem;
    background-color: #FFF3A5;
    border: 3px solid #E7AB86;
    border-radius: 1.5rem;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;

    padding: 1rem;
}

.dayCountDown {
    position: fixed;
    width: 86rem;
    height: 20rem;
    right: 7.5rem;
    margin-top: 17rem;

    font-size: 5.5rem;
    font-family: "AdobeHeitiStd-Regular";
    color: #B13200;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.4rem solid #B13200;
    border-radius: 3.5rem;
}

.carouselContainer {
    margin-top: 13rem;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowButton {
    top: 40%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25rem;
}

.arrowButton.enable:active {
    transform: scale(1.06);
    transition: transform 0.3s ease;
}

.arrowButton.disabled .arrowIcon {
    cursor: not-allowed;
}

.arrowIcon {
    width: 15rem;
    height: auto;
}

.rotated {
    transform: rotate(180deg);
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 54rem;
    padding-top: 3rem;
    margin-top: 37rem;
}

.carouselInner {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.bonusItem {
    flex-shrink: 0;
    text-align: center;
    border-radius: 7.3rem;
    color: rgb(24, 22, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hoverEffect:active .streakDaysImg {
    transform: scale(1.03);
    /* transition: transform 0.1s ease; */
}

.hoverEffect:active .streakDaysContent {
    text-shadow: 0.3rem 0.3rem 0.7rem rgba(0, 0, 0, 0.8);
    transition: text-shadow 0.3s ease;
}

.bonusItemUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Zihun-Buding";
    color: #fff;
    font-size: 7rem;
}

.loading {
    position: absolute;
    z-index: 43;
}

.loadingMask {
    margin-top: 0.815rem;
    margin-left: -0.01rem;
    width: 38.5rem;
    height: 26.8rem;
}


.loadingMain {
    animation: spin 5s linear infinite;
    -webkit-transform: rotate(3600deg);
    transform: rotate(3600deg);
    -webkit-transition: -webkit-transform 5s linear;
    transition: transform 5s linear;
    position: absolute;
    margin-left: -26.4rem;
    margin-top: 8.2rem;
    height: 14rem;
    width: 14rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cornerMark {
    width: 10.5rem;
    height: 10.5rem;
    position: absolute;
    top: -13%;
    right: -9%;
    z-index: 2;
}

.mask {
    width: 38rem;
    position: absolute;
}

.streakDaysImg {
    width: 38.5rem;
}

.streakDaysContent {
    position: absolute;
    font-family: "Simplicity";
}

.bonusItemDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Zihun-Buding";
    color: #fff;
    font-size: 5.87rem;
    margin-top: 2rem;
    z-index: 2;
}

.dayPoint {
    width: 10rem;
    height: 6rem;
    position: absolute;
    bottom: 4rem;
    left: -5.5rem;
    font-size: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Simplicity";
    color: #D88160;
    text-shadow: none;
}

.dayLine {
    width: 28rem;
    height: 6rem;
    background-color: #E28764;
    border-radius: 2rem;
    position: absolute;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.67);
    bottom: 2.5rem;
    left: -14.5rem;
}

.dividingLine {
    width: 95%;
    height: 1.5rem;

    background-color: #E7AB86;
    border-radius: 2rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.67);

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.otherGiftsTitle {
    left: 10%;
    top: 61%;
    position: fixed;
    width: 20rem;
    height: 8rem;
    font-size: 9.24rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "AdobeHeitiStd-Regular";
    color: #B13200;
    letter-spacing: 0.2rem;
    white-space: nowrap;
}

.otherGifts {
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10rem;
    height: 12rem;
    font-family: "Simplicity";
    color: #B13200;
    width: 83%;

}

/* ===========PopCraft NFT Gifts============= */

.nftRewards{
    width: 37rem;
    font-size: 6rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "AdobeHeitiStd-Regular";
    white-space: nowrap;
    position: relative;
}

.nftRewardsImg{
    width: 28rem;
    cursor: not-allowed;
    transition: transform 0.15s ease;
}

.nftRewardsImgHover{
    cursor: pointer;
    transition: transform 0.15s ease;
    animation: bounce 1.5s ease-in-out infinite, bounce 1.5s ease-in-out infinite 4s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(2rem);
    }

    20% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(2rem);
    }

    40% {
        transform: translateY(0);
    }
}

.nftRewardsImgHover:active{
    transform: scale(1.4) !important;
}

.nftRewardsImgHover:active ~ .nftRewardsBottom span{
    text-shadow: 0.1rem 0.1rem 0.2rem #bf6037;
}

.nftRewardsCallLoading {
    animation: shake 0.75s ease-in-out infinite, shake 0.75s ease-in-out infinite 1.5s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-0.5rem) rotate(-5deg);
    }
    40% {
        transform: translateX(0.5rem) rotate(5deg);
    }
    60% {
        transform: translateX(-0.25rem) rotate(-3deg);
    }
    80% {
        transform: translateX(0.25rem) rotate(3deg);
    }
    100% {
        transform: translateX(0);
    }
}

.nftRewardsCornerMark {
    width: 10.5rem;
    z-index: 2;
    position: relative;
    left: -7rem;
    bottom: 1rem;
    cursor: not-allowed;
}

.nftRewardsBottom{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    cursor: not-allowed;
    color: #000;
    user-select: none;
    -webkit-user-select: none;
}

.nftRewardsBottom img{
    width: 9rem;
    margin-left: 1rem;
    transition: transform 0.1s ease;
    cursor: pointer;
}

.nftRewardsBottomHover{
    cursor: pointer;
}

.nftRewardsBottom img:active{
    transform: scale(1.6);
}

.nftRewardsQuestion.visible {
    opacity: 1;
    visibility: visible;
}

.nftRewardsQuestion {
    position: absolute;
    font-size: 7rem;
    letter-spacing: 0.1rem;
    visibility: hidden;
    opacity: 1;
    left: -13rem;
    bottom: 11rem;
    background-color: #FFF3A5;
    border: 3px solid #E7AB86;
    color: #B13200;
    text-align: left;
    border-radius: 1.5rem;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.2);
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    z-index: 2;
}

.nftRewardsAmount{
    left: -5rem;
    font-size: 9rem;
    position: relative;
    top: -3rem;
    font-family: "LuckiestGuy-Regular";
    letter-spacing: -0.2rem;
    color: #FFE775;
    -webkit-text-stroke: 1.5px #B13200;
}

.addedNFTRewardsAmount {
    position: absolute;
    top: 60.5%;
    left: 30%;
    font-size: 8rem;
    color: #B13200;
    opacity: 1;
    font-family: "Simplicity";
    animation: fadeUp 3s ease-in-out forwards;
}


@keyframes fadeUp {
    0% {
        transform: translateY(4rem);
        opacity: 0;
    }

    20% {
        transform: translateY(0rem);
        opacity: 1;
    }

    80% {
        transform: translateY(0rem);
        opacity: 1;
    }

    100% {
        transform: translateY(-3.5rem);
        opacity: 0;
    }
}
/* ===========PopCraft NFT Gifts============= */


.addedPoints {
    position: fixed;
    top: 26rem;
    right: 45%;
    font-size: 8rem;
    color: #B13200;

    opacity: 1;
    font-family: "AdobeHeitiStd-Regular";
    animation: fadeUp 3s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        transform: translateY(4rem);
        opacity: 0;
    }

    20% {
        transform: translateY(0rem);
        opacity: 1;
    }

    80% {
        transform: translateY(0rem);
        opacity: 1;
    }

    100% {
        transform: translateY(-3.5rem);
        opacity: 0;
    }
}