.container {
    position: absolute;
    top: 68.5%;
    right: 37.2rem;
    display: flex;
    gap: 11.75rem;
    z-index: 10;
    flex-direction: column;
    min-height: 0rem;
    max-height: 30rem;
    padding-top: 7rem;
    pointer-events: none;
    overflow-y: hidden;
    width: 110rem;
}

.message {
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.message img{
    width: 24.61rem;
}

.message span{
    margin-left: 9.75rem;
    font-family: "Simplicity";
    font-size: 15.16rem;
    letter-spacing: 4rem;
    transform: scaleX(1.2);
    text-shadow: 0.5rem 0.5rem 4rem rgba(0,0,0);
}

.fadeUp {
    animation: fadeUp 1.5s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    65% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-7rem);
        opacity: 0;
    }
}


.containerBouns {
    position: absolute;
    top: 20%;
    left: 66.74rem;
    display: flex;
    z-index: 20;
    flex-direction: column;
    min-height: 0rem;
    max-height: 30rem;
    padding-top: 7rem;
    width: 120rem;
    padding-right: 20rem;
    pointer-events: none;
}


.messageBonus {
    color: white;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.messageBonus img{
    width: 39.24rem;
}

.messageBonus span{
    margin-left: 15rem;
    font-family: "Simplicity";
    font-size: 24.4rem;
    letter-spacing: -2rem;
    transform: scaleX(1.2);
    text-shadow: 0.7rem 0.7rem 6rem rgba(0,0,0);
}

.fadeUpBonus {
    animation: fadeUpBouns 1s ease-in-out forwards;
}

@keyframes fadeUpBouns {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    60% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(27rem);
        opacity: 0;
    }
}
