.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 350px;
  padding: 40px;
  border: none;
  background-image: url("../../images/welcome/welcome.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  gap: 24px;
}

p {
  margin: 0px;
}


.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 23.04px;
  color: #ffffff;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}


@font-face {
  font-family: "AdobeHeitiStd-Regular";
  src: url("/fonts/BRLNSR.ttf");
}

.Container {
  width: 400px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  line-height: 2em;
  margin-left: 63px;
  /* margin-top: -px; */
}


.copywritingThree {
  font-weight: 600;
  font-size: 21px;
  color: #000000;
}

.copywritingTwo {
  font-size: 18px;
  line-height: 5px;
  letter-spacing: 3px;
  color: #020202;
  font-family: "AdobeHeitiStd-Regular";
}

.copywritingTwobox {
  margin-top: 10px;
}

.copywritingTwoyo {
  font-size: 18px;
  line-height: 5px;
  letter-spacing: 3px;
  font-family: "AdobeHeitiStd-Regular";
}

.copywritingFour {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.92px;
  letter-spacing: 8px;
  color: #294bff;
  text-decoration: underline;
}

.btnPlay {
  width: 380px;
  height: 50px;
  background-color: #fff1c8;
  opacity: 0px;
  border: none;
  background-image: url("../../images/welcome/playnormal.webp");
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  transition: font-size 0.3s ease;
  text-transform: uppercase;
  text-shadow:
    -2px -2px 0 rgba(149, 148, 148, 0.7),
    2px -2px 0 rgba(177, 175, 175, 0.7),
    -2px 2px 0 rgba(165, 164, 164, 0.7),
    2px 2px 0 rgba(206, 206, 206, 0.7);
  /* 添加灰色边框效果 */
  cursor: pointer;
}

.btnPlaybox{
  width: 380px;
  height: 50px;
  background-color: #fff1c8;
  opacity: 0px;
  border: none;
  background-image: url("../../images/topup/wrongnetwork.webp");
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #e30c0c;
  transition: font-size 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;
}
.btnPlaybox:hover {
  color: #ffffff;
  font-size: 25px;
  text-shadow:
    -1px -1px 0 rgba(56, 56, 56, 0.7),
    1px -1px 0 rgba(71, 71, 71, 0.7),
    -1px 1px 0 rgba(59, 59, 59, 0.7),
    1px 1px 0 rgba(69, 69, 69, 0.7)
}

.btnPlay:hover {
  color: #ffffff;
  font-size: 26px;
  text-shadow:
    -1px -1px 0 rgba(56, 56, 56, 0.7),
    1px -1px 0 rgba(71, 71, 71, 0.7),
    -1px 1px 0 rgba(59, 59, 59, 0.7),
    1px 1px 0 rgba(69, 69, 69, 0.7)
}

.btnPlay:active {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}

.commonCls1 {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btnPlayPlaying {
  background-image: url("../../images/welcome/playhove.webp");
  background-size: 100% 100%;
  background-position: center;
}
/* .btnPlayConnectClicked {
  background-image: url("../../images/welcome/playhove.webp");
  background-size: 100% 100%;
  background-position: center;
} */

.btnPlayClicked:hover {
  cursor: not-allowed;
}