.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68.75rem;
  height: 56.25rem;
  border: none;
  background-image: url("../../images/welcome/welcome.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
}

.contentMorph {
  width: 70.75rem;
  height: 72rem;
  background-size: 100% 97% !important;
}
p {
  margin: 0;
}
.title {
  width: 52.5rem;
  height: 3.75rem;
  font-size: 3rem;
  line-height: 10rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7.2rem;
  margin-left: 8rem;
  font-family: "MyriadPro";
}

.titleMorph {
  margin-top: 10.5rem;
}
@font-face {
  font-family: "AdobeHeitiStd-Regular";
  src: url("/fonts/BRLNSR.woff2");
  font-display: block;
}
.Container {
  width: 52.25rem;
  height: 25.625rem;
  display: block;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  margin-left: 9.2rem;
  margin-top: -2.5rem;
  font-size: 2.5rem;
  font-family: "AdobeHeitiStd-Regular";
}

.ContainerMorph{
  margin-top: -9.5rem;
  margin-left: 10rem;
}

.copywritingThree {
  font-weight: 600;
  font-size: 2.5rem;
  color: #000000;
}
.defaultTokens{
  letter-spacing: 0.15rem;
}
.copywritingTwo {
  line-height: 4.5rem;
  letter-spacing: 0.35rem;
  color: #020202;
  /* font-family: "AdobeHeitiStd-Regular"; */
}
.copywritingbox{
  line-height: 4rem;
  letter-spacing: 0.5rem;
}
.copywritingTwobox {
  margin-top: 1rem;
}
.copywritingTwoyo {
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: 0.25rem;
  /* font-family: "AdobeHeitiStd-Regular"; */
}
.copywritingTwoyoMorph {
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: 0.35rem;
  /* font-family: "AdobeHeitiStd-Regular"; */
}
.copywritingFour {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.92px;
  letter-spacing: 8px;
  color: #294bff;
  text-decoration: underline;
}
.btnPlay {
  width: 49rem;
  height: 6.5rem;
  background-color: #fff1c8;
  opacity: 0px;
  border: none;
  background-image: url("../../images/welcome/playnormal.webp");
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-align: center;
  color: #ffffff;
  transition: font-size 0.3s ease;
  text-transform: uppercase;
  text-shadow:
    -2px -2px 0 rgba(149, 148, 148, 0.7),
    2px -2px 0 rgba(177, 175, 175, 0.7),
    -2px 2px 0 rgba(165, 164, 164, 0.7),
    2px 2px 0 rgba(206, 206, 206, 0.7);
  cursor: pointer;
}

.btnPlayNoMode{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnPlaybox {
  width: 49rem;
  height: 6.5rem;
  background-color: #fff1c8;
  opacity: 0px;
  border: none;
  background-image: url("../../images/topup/wrongnetwork.webp");
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-align: center;
  color: #e30c0c;
  transition: font-size 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;
}
.btnPlaybox:hover {
  color: #ffffff;
  font-size: 3.1rem;
  text-shadow:
    -1px -1px 0 rgba(56, 56, 56, 0.7),
    1px -1px 0 rgba(71, 71, 71, 0.7),
    -1px 1px 0 rgba(59, 59, 59, 0.7),
    1px 1px 0 rgba(69, 69, 69, 0.7)
}
.btnPlay:hover {
  color: #ffffff;
  font-size: 3.1rem;
  text-shadow:
    -1px -1px 0 rgba(56, 56, 56, 0.7),
    1px -1px 0 rgba(71, 71, 71, 0.7),
    -1px 1px 0 rgba(59, 59, 59, 0.7),
    1px 1px 0 rgba(69, 69, 69, 0.7)
}
.btnPlay:active {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}
.commonCls1 {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  height: 100%;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.btnPlayPlaying {
  background-image: url("../../images/welcome/playhove.webp");
  background-size: 100% 100%;
  background-position: center;
}
.btnPlayClicked:hover {
  cursor: not-allowed;
}

/* =============Mode Game Welcome===================== */
.welcomeWrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  font-family: "AdobeHeitiStd-Regular";
}

.mgwMainTitle {
  font-size: 5.16rem; 
  text-align: center;
  line-height: 2.77rem;
  letter-spacing: 0.3rem;
  color: #26727F;
  text-shadow:
  -0.3rem -0.3rem 0 white,
  0.3rem -0.3rem 0 white,
  -0.3rem 0.3rem 0 white,
  0.3rem 0.3rem 0 white,
  0.2rem 0.2rem 1.3rem rgba(0, 0, 0, 0.5);
}

.mgwCenterParagraph {
  margin-top: 5.4rem;
  text-align: center;
  line-height: 6.35rem;
  font-size: 3.37rem;
  color: #14B383;
  letter-spacing: 0.3rem;
  height: 17.2rem;
  text-shadow:
  -0.3rem -0.3rem 0 white,
  0.3rem -0.3rem 0 white,
  -0.3rem 0.3rem 0 white,
  0.3rem 0.3rem 0 white,
  0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.mgwModulesWrapper {
  font-size: 1.98rem;
  display: flex;
  gap: 6.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5.5rem;
}

.mgwModeChoose {
  width: 33.13rem;
  height: 11.56rem;
  border-radius: 12px;
  position: relative;
  background-image: url("../../images/welcome/ModeNoSelectBg.webp");
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: transform 0.1s ease;
}

.mgwModeChooseNotAllow{
  cursor: not-allowed;
}

.mgwModeChooseAllow:hover{
  text-shadow: 0.2rem 0.2rem 0.3rem rgb(208, 209, 205);
}

.mgwModeChooseAllow:active{
  transform: scale(0.98);
}

.mgwModeSelectBg{
  background-image: url("../../images/welcome/ModeSelectBg.webp");
}

.mgwModeChooseHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 2.35rem;
}

.mgwModeSelectHeader{
  text-shadow:
  -0.2rem -0.2rem 0 white,
  0.2rem -0.2rem 0 white,
  -0.2rem 0.2rem 0 white,
  0.2rem 0.2rem 0 white;
}

.mgwModeChooseTitle{
  color: rgba(57, 57, 57, 0.73);
  margin-top: 2.1rem;
}

.mgwModeSelectConcernBg{
  background-image: url("../../images/welcome/ModeSelectConcernBg.webp");
  background-size: 100% 100%;
  background-position: center;
  width: 3.33rem;
  height: 3.36rem;
  position: absolute;
  top: 1.04rem;
  right: 1.03rem;
}

.mgwModeSelectConcernBg img{
  width: 3.34rem;
  height: 3.25rem;
  display: block;
  margin: 0 auto;
}

.moduleText {
  text-align: center;
  width: 29.3rem;
  margin: 0.65rem auto 0 auto;
  color: #393939;
}

.btnPlayMode{
  background-image: url("../../images/welcome/PlayBtn.webp");
  width: 40.36rem;
  height: 6.71rem;
  margin-top: 5.24rem;
  transition: transform 0.1s ease;
}

.btnPlayMode img{
  height: 90%;
}

.btnPlayModeAllow:active{
  transform: scale(0.98);
}