.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68.75rem;
  height: 56.25rem;
  border: none;
  /* background-image: url("../../images/welcome/welcome.webp"); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
}
p {
  margin: 0;
}
.title {
  width: 52.5rem;
  height: 3.75rem;
  font-size: 3rem;
  line-height: 10rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7.2rem;
  margin-left: 8rem;
  font-family: "MyriadPro";
}
@font-face {
  font-family: "AdobeHeitiStd-Regular";
  src: url("/fonts/BRLNSR.woff2");
  font-display: block;
}
.Container {
  width: 56.25rem;
  height: 25.625rem;
  display: block;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  margin-left: 9.2rem;
  margin-top: -2.5rem;
  font-size: 2.5rem;
  font-family: "AdobeHeitiStd-Regular";
}
.copywritingThree {
  font-weight: 600;
  font-size: 2.5rem;
  color: #000000;
}
.defaultTokens{
  letter-spacing: 0.15rem;
}
.copywritingTwo {
  line-height: 4.5rem;
  letter-spacing: 0.35rem;
  color: #020202;
  /* font-family: "AdobeHeitiStd-Regular"; */
}
.copywritingbox{
  line-height: 4rem;
  letter-spacing: 0.5rem;
}
.copywritingTwobox {
  margin-top: 1rem;
}
.copywritingTwoyo {
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: 0.25rem;
  /* font-family: "AdobeHeitiStd-Regular"; */
}
.copywritingFour {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.92px;
  letter-spacing: 8px;
  color: #294bff;
  text-decoration: underline;
}
.btnPlay {
  width: 49rem;
  height: 6.5rem;
  background-color: #fff1c8;
  opacity: 0px;
  border: none;
  background-image: url("../../images/welcome/playnormal.webp");
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-align: center;
  color: #ffffff;
  transition: font-size 0.3s ease;
  text-transform: uppercase;
  text-shadow:
    -2px -2px 0 rgba(149, 148, 148, 0.7),
    2px -2px 0 rgba(177, 175, 175, 0.7),
    -2px 2px 0 rgba(165, 164, 164, 0.7),
    2px 2px 0 rgba(206, 206, 206, 0.7);
  cursor: pointer;
}
.btnPlaybox {
  width: 49rem;
  height: 6.5rem;
  background-color: #fff1c8;
  opacity: 0px;
  border: none;
  background-image: url("../../images/topup/wrongnetwork.webp");
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-align: center;
  color: #e30c0c;
  transition: font-size 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;
}
.btnPlaybox:hover {
  color: #ffffff;
  font-size: 3.1rem;
  text-shadow:
    -1px -1px 0 rgba(56, 56, 56, 0.7),
    1px -1px 0 rgba(71, 71, 71, 0.7),
    -1px 1px 0 rgba(59, 59, 59, 0.7),
    1px 1px 0 rgba(69, 69, 69, 0.7)
}
.btnPlay:hover {
  color: #ffffff;
  font-size: 3.1rem;
  text-shadow:
    -1px -1px 0 rgba(56, 56, 56, 0.7),
    1px -1px 0 rgba(71, 71, 71, 0.7),
    -1px 1px 0 rgba(59, 59, 59, 0.7),
    1px 1px 0 rgba(69, 69, 69, 0.7)
}
.btnPlay:active {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}
.commonCls1 {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  height: 100%;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.btnPlayPlaying {
  background-image: url("../../images/welcome/playhove.webp");
  background-size: 100% 100%;
  background-position: center;
}
.btnPlayClicked:hover {
  cursor: not-allowed;
}