.GameBoard {
  width: 25%;
  height: 3%;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: #26737d;
  font-weight: 400;
  font-size: 20px;
  border: none;
  letter-spacing: 1px;
  text-shadow: 
  -2px -2px 0 rgba(255, 255, 255, 0.7),
  2px -2px 0 rgb(255, 255, 255),
  -2px 2px 0 rgba(255, 255, 255, 0.7),
  2px 2px 0 rgba(255, 255, 255, 0.7),
  0 0 5px rgba(163, 229, 181, 0.9),
  0 0 10px rgba(104, 183, 127, 0.8),
  0 0 15px rgba(185, 244, 201, 0.6);
}


.page {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  /* background-image: linear-gradient(45deg, #fffce3 0%, #bdf1b6 100%); */
  background-image: url('images/background.png');
  background-size: 100% 100%;
  /* font-family: 'Silkscreen'; */

}

/* 根据您的字体文件类型调整格式 */
@font-face {
  font-family: 'SansationLight';
  /* 重命名字体名 */
  src: url('/fonts/SansationLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/* @font-face {
   font-family: 'Silkscreen';
   src: url('./path/to/slkscr (2).ttf') format('truetype'); 
 }   */

@font-face {
  font-family: 'NotoEmoji';
  src: url('./path/to/Noto_Emoji/NotoEmoji-VariableFont_wght.ttf') format('truetype');
}