.topBox {
  width: 70rem;
  height: 89.625rem;
  position: absolute;
  left: 50%;
  top: 50%;
  gap: 3rem;
  transform: translate(-50%, -50%);
  color: #fff;
  background-image: url("../../images/topup/topupback.webp");
  background-size: 100% 100%;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
}
.cant {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.3rem;
  width: 55rem;
  margin-left: 2rem;
}
.btnMeLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingImgbox {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  width: 25px;
  height: 25px;
}
.title {
  width: 70rem;
  height: 2rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 10rem;
  color: #ffffff;
  letter-spacing: 0.5rem;
  text-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase
}
.imgOff {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 62rem;
  top: 1rem;
}
.bridgeBTN {
  width: 15rem;
  height: 3.8rem;
  background-image: url("../../images/topup/Bridgeback.webp");
  background-size: 100% 100%;
  background-position: center;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 rgba(197, 195, 195, 0.7),
    1px -1px 0 rgba(192, 192, 192, 0.7),
    -1px 1px 0 rgba(207, 207, 207, 0.7),
    1px 1px 0 rgba(197, 197, 197, 0.7);
  margin-left: 18rem;
}
.bridgeBTN:hover {
  color: #ffffff;
  font-size: 1.8rem;
  text-shadow:
    -1px -1px 0 rgba(123, 122, 122, 0.7),
    1px -1px 0 rgba(105, 104, 104, 0.7),
    -1px 1px 0 rgba(120, 119, 119, 0.7),
    1px 1px 0 rgba(101, 101, 101, 0.7)
}
.bridgeBTNClicked {
  background-image: url("../../images/topup/btnMeback.webp");
  background-size: cover;
  background-position: center;
}
.warningCon {
  background-color: #ffffff;
  position: relative;
  color: #D59E11;
  border: 5px solid #fef200;
  width: 310px;
  height: 160px;
  left: 50%;
  top: 48%;
  gap: 16px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  gap: 10px;
  margin-top: 8px;
  opacity: 0px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.warningOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.triangle {
  width: 290px;
  height: 140px;
  font-family: "AdobeHeitiStd-Regular";
  color: #000000;
  letter-spacing: 0.35px;
  line-height: 20px;
  text-align: justify;
  font-size: 13px;
}
.titleOne {
  display: inline-block;
  height: 2rem;
  font-family: Silkscreen;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 20.48px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #080808;
  font-family: "AdobeHeitiStd-Regular";
  margin-top: 1rem;
  margin-left: 2rem;
}
@font-face {
  font-family: "AdobeHeitiStd-Regular";
  src: url("/fonts/BRLNSR.TTF");
}
.titleOne1 {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 20.48px;
  letter-spacing: 0.1em;
  color: #000000;
  gap: 0px;
  opacity: 0px;
  font-family: "AdobeHeitiStd-Regular";
  margin-left: 2rem;
  margin-top: 1rem;
}
.prilf {
  font-family: Silkscreen;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: left;
  color: #e38666;
  text-transform: uppercase;
  font-family: "AdobeHeitiStd-Regular"
}
.onePart {
  display: grid;
  width: 55rem;
  height: 12rem;
  opacity: 0px;
  margin: 0 auto;
  margin-top: -12rem;
  background-color: #fff2c8;
  border-radius: 1rem;
}
.imgICon {
  width: 1.5rem;
  height: 1.4rem;
  margin-left: 1.3rem;
}
.btnPart {
  height: 35px;
  justify-content: space-between;
  opacity: 0px;
  display: grid;
  gap: 5px;
  color: #000000;
  margin-top: -5px;
  margin-left: 1rem;
}
.partImo {
  width: 55rem;
  height: 11rem;
  margin: 0 auto;
  display: grid;
  gap: 8px;
  margin-top: 1rem;
  margin-left: -1rem;
}
.partTwobox {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  vertical-align: middle;
  height: 6rem;
  width: 50rem;
  margin-top: 1.7rem;
}
.partTwo {
  width: 53rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #c4572e;
  margin-top: 1rem;
  margin: 0 auto;
}
.btnMe {
  width: 30rem;
  height: 3.8rem;
  opacity: 0px;
  gap: 10px;
  border: none;
  background-image: url("../../images/topup/btnMe.webp");
  background-size: 100% 100%;
  background-position: center;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  text-shadow:
    -1px -1px 0 rgba(192, 192, 192, 0.7),
    1px -1px 0 rgba(192, 192, 192, 0.7),
    -1px 1px 0 rgba(192, 192, 192, 0.7),
    1px 1px 0 rgba(192, 192, 192, 0.7);
}
.btnMe:hover {
  color: #ffffff;
  font-size: 1.8rem;
  text-shadow:
    -1px -1px 0 rgba(101, 100, 100, 0.7),
    1px -1px 0 rgba(105, 104, 104, 0.7),
    -1px 1px 0 rgba(120, 119, 119, 0.7),
    1px 1px 0 rgba(101, 101, 101, 0.7)
}
.btnMeClicked {
  background-image: url("../../images/topup/btnMebj.webp");
  background-size: 100% 100%;
}
.btnMeWaiting {
  font-size: 5px;
}
.btnMeB {
  width: 111px;
  height: 22px;
  gap: 10px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #4d3d59;
  font-family: Silkscreen;
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  border: 1px solid #0b0113;
}
.ConfirmingFont {
  display: inline-block;
  font-family: Silkscreen;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: left;
  color: #dc5468;
  gap: 0px;
  opacity: 0px;
  margin-left: 1.3rem;
  font-family: "AdobeHeitiStd-Regular";
  margin-top: 1rem;
}
.partContent {
  width: 55rem;
  height: 25rem;
  opacity: 0px;
  margin: 0 auto;
  background-color: #fff2c8;
  border-radius: 1rem;
  margin-top: -13rem;
}
.inputCon {
  background: none;
  border: none;
  color: #050404;
  font-family: Silkscreen;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-left: 1rem;
  margin-top: -0.6rem;
  font-family: "AdobeHeitiStd-Regular";
}
.container {
  display: flex;
  align-items: center;
}
.warningImg {
  width: 2.2rem;
  height: 2rem;
  margin-left: 0.8rem;
  margin-top: 1.3rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.warningImg:hover {
  transform: scale(1.2);
}
.imgUnioncopyBtn {
  position: absolute;
  margin-left: -6.5rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.3s ease;
}
.imgUnioncopyBtn:hover {
  transform: scale(1.2);
}
.imgUnionCopyBtn {
  position: absolute;
  margin-left: 12.5rem;
  top: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.imgUnionCopyBtn:hover {
  transform: scale(1.2);
}
.prvkey {
  position: relative;
  gap: 2rem;
  opacity: 0px;
  margin-top: 1rem;
  display: grid;
  margin-left: 2rem;
  align-items: center;
}
@font-face {
  font-family: "AdobeHeitiStd-Regular";
  src: url("/fonts/BRLNSR.TTF");
}
.pqad {
  gap: 0px;
  opacity: 0px;
  font-family: Silkscreen;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: left;
  color: #999999;
  font-family: "AdobeHeitiStd-Regular";
}
.openEyeStyle {
  width: 2.5rem;
  height: 1.3rem;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  cursor: pointer;
}
.turnOffEyeStyle {
  width: 2.5rem;
  height: 1.7rem;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  cursor: pointer;
}
.imginputConPassWordto {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.3rem;
  margin-top: 0.4rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.imginputConPassWordto:hover {
  transform: scale(1.2);
}
.inputConPassWord {
  opacity: 0px;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #da4d62;
  background: none;
  border: none;
  font-family: "AdobeHeitiStd-Regular";
  width: 17ch;
}
.inputConPassWord:focus {
  outline: none;
}
.partFour {
  display: grid;
  place-items: center;
  width: 55rem;
  margin: 0 auto;
  margin-top: -9rem;

  input {
    width: 38rem;
    height: 1.4rem;
    padding: 8px 12px 8px 12px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    justify-content: space-between;
    opacity: 0px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #fff2c8;
    font-family: Silkscreen;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #000000;
    font-family: "AdobeHeitiStd-Regular";
  }
}
.partFourFont {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.3rem;
  opacity: 0px;
  display: grid;
  color: #000000;
  text-transform: uppercase;
  font-family: "AdobeHeitiStd-Regular";
  margin-left: 1rem;
  margin-top: -4rem;
}
.inputEth {
  color: #000000;
  margin-top: 0.5rem;
  font-family: "AdobeHeitiStd-Regular";
  font-size: 2.4rem;
  margin-left: 1.3rem;
}
.mainFontbox {
  font-family: "AdobeHeitiStd-Regular";
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #9a3916;
  margin-left: 12.5rem;
}
.svgIcon {
  width: 3.3rem;
  height: 3.3rem;
  margin-top: 0.3rem;
  margin-left: 2.1rem;
}
.partFive {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #9c3a15;
  letter-spacing: 0.1rem;
  font-family: "AdobeHeitiStd-Regular";
  font-size: 2rem;
  margin-left: 2.3rem;
}
.partFiveboxto {
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
  color: #9c3a15;
  letter-spacing: 0.1rem;
  font-family: "AdobeHeitiStd-Regular";
  font-size: 2rem;
  margin-left: 2.3rem;
}
.partFivebox {
  font-family: "AdobeHeitiStd-Regular";
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-align: left;
  color: #9a3916;
  margin-left: 18rem;
}
.mainFont {
  display: grid;
  gap: 5px;
  position: relative;
  margin-left: 1rem;
  margin-top: -0.5rem;
  span {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: left;
    color: #000000;
    display: inline-block;
    font-family: "AdobeHeitiStd-Regular";
  }
  p {
    font-family: "AdobeHeitiStd-Regular";
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: left;
    color: #dc5468;
    margin-top: 1rem;
  }
}
.footerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52rem;
  height: 6rem;
  gap: 10px;
  opacity: 0px;
  background-color: #fbae6a;
  background-image: url("../../images/topup/footerBtn.webp");
  background-size: 100% 100%;
  background-position: center;
  border: none;
  font-size: 3.3rem;
  margin-top: -14rem;
  margin-left: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-align: center;
  color: #ffffff;
  transition: font-size 0.3s ease;
  text-shadow:
    -1px -1px 0 rgba(192, 192, 192, 0.7),
    1px -1px 0 rgba(192, 192, 192, 0.7),
    -1px 1px 0 rgba(192, 192, 192, 0.7),
    1px 1px 0 rgba(192, 192, 192, 0.7);
}
.footerBtn:hover {
  color: #ffffff;
  font-size: 3.4rem;
  text-shadow:
    -1px -1px 0 rgba(101, 100, 100, 0.7),
    1px -1px 0 rgba(105, 104, 104, 0.7),
    -1px 1px 0 rgba(120, 119, 119, 0.7),
    1px 1px 0 rgba(101, 101, 101, 0.7)
}
.wrongNetworkBtn {
  text-transform: uppercase;
  width: 52rem;
  height: 6rem;
  gap: 10px;
  opacity: 0px;
  background-color: #fbae6a;
  background-image: url("../../images/topup/wrongnetwork.webp");
  background-size: 100% 100%;
  background-position: center;
  color: #200d2f;
  border: none;
  font-size: 3.3rem;
  margin-top: -14rem;
  margin-left: 2.5rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-align: center;
  color: #e30c0c;
  cursor: pointer;
}
.footerBtnElse {
  text-transform: uppercase;
  width: 400px;
  height: 44px;
  padding: 10px 0px 10px 0px;
  gap: 10px;
  opacity: 0px;
  background-color: #fbae6a;
  background-image: url("../../images/topup/footerBtn.webp");
  background-size: 100% 100%;
  background-position: center;
  color: #200d2f;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
}
.footerBtnClicked {
  background-image: url("../../images/topup/footerBtnto.webp");
  background-size: 100% 100%;
  background-position: center;
}
.canvasWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
.canvasWrapper::-webkit-scrollbar {
  width: 8px;
}
.canvasWrapper::-webkit-scrollbar-track {
  background-color: rgba(244, 243, 241, 0.5);
}
.canvasWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(244, 243, 241, 0.5);
  border-radius: 4px;
}
.canvasWrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(244, 243, 241, 0.5);
}
.commonCls1 {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  width: 30px;
  height: 30px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footerBtn:disabled {
  cursor: not-allowed;
}
.footerBtnElse:disabled {
  cursor: not-allowed;
}
.overlay {
  position: fixed;
  top: -22px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10000;
}
.modal {
  width: 250px;
  height: 10px;
  background-image: url("../../images/substance/fail.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 8px;
}
.failto {
  width: 30px;
  height: 30px;
  float: left;
  margin-top: -10px;
}
.modalto {
  width: 180px;
  height: 10px;
  background-image: url("../../images/substance/success.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.colorto {
  color: red;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.48px;
  font-family: "AdobeHeitiStd-Regular4";
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: center;
  letter-spacing: 0.1em;
  margin-top: -6px;
}
.color {
  color: #03b243;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.48px;
  font-family: "AdobeHeitiStd-Regular4";
  letter-spacing: 0.1em;
  margin-top: -7px;
}
.loadingImg {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  height: 100%;
}