.formcontainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125.75rem;
    height: 112.125rem;
    border: none;
    background-image: url('../../images/RankingList/RankingListBackground.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.title {
    width: 92.5rem;
    font-weight: 700;
    font-size: 4rem;
    line-height: 10rem;
    color: #ffffff;
    letter-spacing: 1rem;
    text-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 1rem;
    background-image: url('../../images/RankingList/RankingListTitleBackground.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.imgOff {
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 120rem;
    top: 5rem;
}

.seasonCountdownDiv{
    font-weight: 900;
    font-size: 2.9rem;
    line-height: 8rem;
    color: #00A650;
    align-items: center;
    justify-content: center;
    margin-top: -95.5rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 
    -0.2rem -0.2rem 0 #ffffff,  
    0.2rem -0.2rem 0 #ffffff,  
    -0.2rem  0.2rem 0 #ffffff,  
    0.2rem  0.2rem 0 #ffffff;
    font-family: "MyriadPro";
}

.tablecontainer {
    width: 120rem;
    height: 66rem;
    overflow-y: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -5rem;
    overflow-y: auto;
    border-radius: 10px;
}

.table {
    width: 114rem;
    /* height: auto; */
    border-collapse: collapse; 
    font-family: "AdobeHeitiStd-Regular";
    table-layout: fixed;
}

.thead {
    height: 8.4375rem;
    background-color: #faae69;
    text-align: center;
    color: #b13200;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
.thead::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8.4375rem;
    border: 2px solid #fff1c8;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    z-index: 2;
    pointer-events: none;
}

.tbody {
    border-left: none;
    border-right: none;
    padding: 8px;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border: none !important; /* 取消所有边框 */
}


.trbox {
    border: none !important; 
}

.trbox td{
    /* height: 2.55rem; */
    border: none !important;
    padding: 1.6rem; 
}



.rankImage img {
    width: 2.5rem;
    margin-right: 5px;
    vertical-align: middle;
    margin-left: -3.2rem;
    margin-top: -0.5rem;
}

.totalContainerBox {
    width: 114rem;
    height: 6rem;
    margin-top: -11.6rem;
    background-image: url('../../images/RankingList/TotalBackground.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    font-family: "AdobeHeitiStd-Regular";
}

.totalContainerTableBox {
    width: 113rem;
    height: 6rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.5rem;
    text-align: center;
    font-size: 2rem;
    color: #000000;
    letter-spacing: 0.3rem;
    font-weight: 600;
}

.totalLengthBox {
    width: 32rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.totalLengthBox span {
    justify-content: center;
    align-items: center;
}

.totalScoreBox {
    display: flex;
    align-items: center;
    width: 77rem;
    margin-left: -1rem;
    gap: 1rem;
}

.totalScoreItem {
    width: 18rem;
    /* margin-left: 0.1rem; */
}

.tablecontainerbox {
    width: 120rem;
    height: 6rem;
    margin-top: -15rem;
    background-image: url('../../images/RankingList/buttombackages.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    font-family: "AdobeHeitiStd-Regular";
}


.tableBox {
    width: 113rem;
    height: 6rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.5rem;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    letter-spacing: 0.3rem;
    font-weight: 600;
}

.YouBox {
    width: 32rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.YouBox span {
    justify-content: center;
    align-items: center;
    margin-left: 2.8rem;
}

.scoreBox {
    display: flex;
    align-items: center;
    width: 77rem;
    margin-left: -1rem;
    gap: 1rem;
}

.scoreItem {
    width: 18rem;
    margin-left: 5rem;
}

.rankCell {
    width: 15rem;
    height: 2.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
}

.rankCell img {
    width: 3rem;
    margin-right: 4rem;
    margin-left: -7rem;
}

.youSpan {
    margin-right: -6.5rem;
    margin-left: 1rem;

}

@font-face {
    font-family: "AdobeHeitiStd-Regular";
    src: url("/fonts/BRLNSR.woff2");
}


.tablecontainer::-webkit-scrollbar {
    width: 8px; 
}

.tablecontainer::-webkit-scrollbar-track {
    background: #d3724c; 
}

.tablecontainer::-webkit-scrollbar-thumb {
    background: #fff1c8; 
    border-radius: 6px;
}

.tablecontainer::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* Firefox 滚动条样式 */
.tablecontainer {
    scrollbar-width: thin;
    scrollbar-color: #fff1c8 #d3724c; 
}

.noLinkStyle {
    color: inherit; /* 继承父元素的颜色 */
}


.dropdown {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 241, 200, 0.3);
    border: 0.125rem solid #b13200;
    padding: 0.125rem;
    box-shadow: 0 0.25rem 0.5rem rgba(178, 50, 0, 0.1);
    border-radius: 1rem;
    white-space: nowrap;
    min-width: 18.5rem;
    height: 4rem;
}

.dropdownArrow {
    font-size: 2rem;
}

.dropdownMenu {
    position: absolute;
    background-color: #fcc285;
    border: 0.125rem solid #df9c56;
    z-index: 1000;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    width: 20.8rem;
    font-size: 2.1rem;
}

.dropdownItem {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    text-align: left;
}

.dropdownItem:hover {
    background-color: #fcad69;
}
