.formcontainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 143.75rem;
    height: 96.125rem;
    border: none;
    background-image: url('../../images/RankingList/trophyback.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.title {
    width: 52.5rem;
    font-weight: 700;
    font-size: 4rem;
    line-height: 10rem;
    color: #ffffff;
    letter-spacing: 1rem;
    text-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    margin-left: 1rem;
}

.imgOff {
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 130rem;
    top: 1rem;
}

.tablecontainer {
    width: 120rem;
    height: 66rem;
    overflow-y: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -11rem;
    overflow-y: auto;
    border-radius: 10px;
}

.table {
    width: 120rem;
    /* height: auto; */
    border-collapse: collapse; 
    font-family: "AdobeHeitiStd-Regular";
}

.thead {
    height: 8.4375rem;
    background-color: #faae69;
    text-align: center;
    color: #b13200;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
.thead::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8.4375rem;
    border: 2px solid #fff1c8;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    z-index: 2;
    pointer-events: none;
}

.tbody {
    border-left: none;
    border-right: none;
    padding: 8px;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border: none !important; /* 取消所有边框 */
}


.trbox {
    border: none !important; 
}

.trbox td{
    /* height: 2.55rem; */
    border: none !important;
    padding: 1.6rem; 
}



.rankImage img {
    width: 2.5rem;
    margin-right: 5px;
    vertical-align: middle;
    margin-left: -3.2rem;
    margin-top: -0.5rem;
}

.tablecontainerbox {
    width: 120rem;
    height: 6rem;
    margin-top: -11rem;
    background-image: url('../../images/RankingList/buttombackages.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    font-family: "AdobeHeitiStd-Regular";
}


.tableBox {
    width: 120rem;
    height: 6rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    letter-spacing: 0.3rem;
    font-weight: 600;
}

.YouBox {
    width: 32rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.YouBox span {
    justify-content: center;
    align-items: center;
    margin-left: 2.8rem;
}

.scoreBox {
    display: flex;
    align-items: center;
    width: 80rem;
    gap: 4rem;
}

.scoreItem {
    width: 18rem;
    margin-left: 5rem;
}

.rankCell {
    width: 15rem;
    height: 2.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
}

.rankCell img {
    width: 3rem;
    margin-right: 4rem;
    margin-left: -7rem;
}

.youSpan {
    margin-right: -6.5rem;
    margin-left: 1rem;

}

@font-face {
    font-family: "AdobeHeitiStd-Regular";
    src: url("/fonts/BRLNSR.TTF");
}


.tablecontainer::-webkit-scrollbar {
    width: 8px; 
}

.tablecontainer::-webkit-scrollbar-track {
    background: #d3724c; 
}

.tablecontainer::-webkit-scrollbar-thumb {
    background: #fff1c8; 
    border-radius: 6px;
}

.tablecontainer::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* Firefox 滚动条样式 */
.tablecontainer {
    scrollbar-width: thin;
    scrollbar-color: #fff1c8 #d3724c; 
}
