@font-face {
    font-family: "MyriadPro";
    src: url("/fonts/MYRIADPRO-BOLD.OTF");
}

@font-face {
    font-family: "AdobeHeitiStd-Regular";
    src: url("/fonts/BRLNSR.woff2");
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 40;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto !important;
}

.btn {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    z-index: 30;
    font-family: "Simplicity";
    text-align: center;
    transition: transform 0.1s ease;
    cursor: pointer;
    color: #EB5F8C;
    width: 35rem;
    height: 40rem;
    margin-left: 11.96rem;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.btn img {
    position: absolute;
    width: 33.04rem;
    height: 33.04rem;
    object-fit: contain;
    transition: transform 0.1s ease;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    top: 0;
}

.btn:active img {
    transform: scale(1.4);
}

.btn:active button {
    text-shadow:
        -0.8rem -0.8rem 0 white,
        0.8rem -0.8rem 0 white,
        -0.8rem 0.8rem 0 white,
        0.8rem 0.8rem 0 white,
        2rem 2rem 1.5rem rgba(0, 0, 0, 0.8);
}

.btn button {
    position: absolute;
    width: 57rem;
    height: 5.88rem;
    background-color: transparent;
    border: none;
    font-family: "Simplicity";
    color: #FFB14B;
    transition: font-size 0.1s ease, text-shadow 0.1s ease;
    font-size: 4.88rem;
    font-weight: 400;
    top: 32.15rem;
    margin: 0;
    line-height: 2.29rem;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    text-shadow:
        -0.65rem -0.65rem 0 white,
        0.65rem -0.65rem 0 white,
        -0.65rem 0.65rem 0 white,
        0.65rem 0.65rem 0 white,
        0.5rem 1rem 1rem rgba(0, 0, 0, 0.8);
}

.formcontainer {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 249.45rem;
    height: 357.87rem;
    border: none;
    border-radius: 3rem;
    background-image: url('../../../../images/RankingList/mobile/ContainerBg.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    z-index: 40;
}

.title {
    width: 211.75rem;
    height: 13.3rem;
    font-family: MyriadPro;
    font-weight: bold;
    font-size: 12.53rem;
    color: #FFFFFF;
    line-height: 5.92rem;
    text-shadow: 0rem 0.8rem 0.8rem rgba(0, 0, 0, 0.71);
    letter-spacing: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25rem;
    background-image: url('../../../../images/RankingList/mobile/TitleBgStar.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.imgOff {
    width: 15.3rem;
    height: 15.3rem;
    position: absolute;
    left: 228.16rem;
    top: 12rem;
}

.seasonCountdownDiv {
    width: 192.33rem;
    height: 23.51rem;
    font-weight: 900;
    font-size: 7.93rem;
    color: #3F9615;
    -webkit-text-stroke: 0.2rem #FFFFFF;
    line-height: 12rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 280rem;
    display: flex;
    text-shadow:
        -0.5rem -0.5rem 0 #ffffff,
        0.5rem -0.5rem 0 #ffffff,
        -0.5rem 0.5rem 0 #ffffff,
        0.5rem 0.5rem 0 #ffffff;
    font-family: MyriadPro;
    text-align: center;
}

.tablecontainer {
    width: 414rem;
    height: 204.13rem;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 4rem;
}

.tablecontainer::-webkit-scrollbar {
    width: 3rem;  /* 滚动条宽度 */
}

.tablecontainer::-webkit-scrollbar-track {
    background: #f5f5f5;  /* 滚动条轨道颜色，可自行调整 */
    border-radius: 4rem;
}

.tablecontainer::-webkit-scrollbar-thumb {
    background: #E28764;  /* 滚动条颜色 */
    border-radius: 4rem;  /* 圆角 */
}

.tablecontainer::-webkit-scrollbar-thumb:hover {
    background: #d67556;  /* 鼠标悬浮时的颜色 */
}

.table {
    width: 408rem;
    max-height: 181.15rem;
    overflow-y: auto;
    border-collapse: collapse;
    font-family: "AdobeHeitiStd-Regular";
    table-layout: fixed;
}

.thead {
    height: 22.62rem;
    background-color: #faae69;
    text-align: center;
    color: #b13200;
    font-size: 7.4rem;
    letter-spacing: 0.3rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.thead::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20.4375rem;
    border: 1.5rem solid #fff1c8;
    border-radius: 5rem 5rem 0 0;
    border-bottom: none;
    z-index: 2;
    pointer-events: none;
}

.tbody {
    border-left: none;
    border-right: none;
    padding: 8px;
    text-align: center;
    font-size: 7.4rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border: none !important;
    /* 取消所有边框 */
}

.trbox {
    border: none !important;
}

.trbox td {
    /* height: 2.55rem; */
    border: none !important;
    padding: 1.6rem;
}

.dropdown {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.125rem;
    border-radius: 3rem;
    white-space: nowrap;
    min-width: 20.5rem;
    height: 18rem;
}

.dropdownArrow {
    font-size: 5rem;
}

.dropdownMenu {
    position: absolute;
    background-color: #fcc285;
    border: 0.125rem solid #df9c56;
    z-index: 1000;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
    width: 55.8rem;
    font-size: 7rem;
    line-height: 10rem;
}

.dropdownItem {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    text-align: left;
}

.dropdownItem:hover {
    background-color: #fcad69;
}

.rankCell {
    width: 55rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
}

.rankCell img {
    width: 9rem;
    margin-right: 7rem;
    margin-left: -18rem;
}

.youSpan {
    margin-right: -19.5rem;
    margin-left: 1rem;
}

.noLinkStyle {
    color: inherit;
    /* 继承父元素的颜色 */
}

.totalContainerBox {
    width: 412rem;
    height: 18rem;
    background-image: url('../../../../images/RankingList/mobile/TotalBg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0rem 0 6rem 6rem;
}

.totalContainerTableBox {
    width: 408rem;
    height: 18rem;
    border: none;

    display: flex;
    align-items: center;
    
    color: #000000;

    font-family: "AdobeHeitiStd-Regular";
    font-weight: 400;
    font-size: 7.4rem;
    letter-spacing: 0.3rem;
    line-height: 16.81rem;
}

.totalLengthBox {
    text-align: center;
    width: 110rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.totalLengthBox span {
    justify-content: center;
    align-items: center;
}

.totalScoreBox {
    display: flex;
    align-items: center;
    text-align: center;
    width: 390rem;
    gap: 1rem;
}

.totalScoreItem {
    width: 54rem;
}

.tablecontainerbox {
    width: 414rem;
    height: 17rem;
    background-image: url('../../../../images/RankingList/mobile/YouScoreBg.webp');
    background-size: 100% 126%;
    background-position: center;
    margin-top: 4rem;

    border: none;
    font-family: "AdobeHeitiStd-Regular";
}

.tableBox {
    width: 404rem;
    height: 18rem;
    border: none;
    display: flex;
    align-items: center;
    margin-left: 3.5rem;
    font-size: 3.4rem;
    color: #ffffff;
    letter-spacing: 0.3rem;
    font-weight: 400;
    line-height: 16.81rem;
    font-size: 7.4rem;
}

.YouBox {
    width: 103rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.YouBox span {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 18rem; */
    width: 50%;
}

.scoreBox {
    display: flex;
    align-items: center;
    width: 290rem;
    gap: 1rem;
    text-align: center;
}

.scoreItem {
    width: 63rem;
    text-align: center;
    margin-left: 4rem;
}

.bodyContainer{
    top: 76rem;
    left: 16rem;
    height: 250rem;
    width: 216rem;
    position: absolute;
    overflow: auto;
}


.bodyContainer::-webkit-scrollbar {
    height: 3rem;
}

.bodyContainer::-webkit-scrollbar-track {
    background: transparent;
}

.bodyContainer::-webkit-scrollbar-thumb {
    background: #FFF1C8;
    border-radius: 4rem;
}