* {
  margin: 0px;
  /* overflow-y: hidden;
    overflow-x: hidden; */
}

canvas {
  z-index: 1 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明黑色 */
  pointer-events: auto !important;
}

.overlayPopStar {
  background-image: url('../../images/background.webp');
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100%);
  z-index: 999;
  height: 100%;
  pointer-events: auto !important;
}

.overlayPopStarFl {
  background-color: #200d2f;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100%);
  z-index: 999;
  height: 100%;
  pointer-events: auto !important;
}

.topContentType {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  background: radial-gradient(circle, #236975, #26727f);
  height: 70px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  position: fixed;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
}


.containerImg {
  width: 139px;
  height: 46px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 9px;
  left: 20px;
}

.addr {
  justify-content: right;
  color: #fff;
  position: absolute;
  right: 3rem;
  height: auto;
  line-height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  /* 将字母都大写 */
  letter-spacing: 1px;
}

canvas {
  border: none;
  z-index: 1 !important;
}

.balanceNum {
  display: inline-block;
  margin-left: 25px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: url('../../images/PinkButtonheader.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 20px;
  border-radius: 50px;
  display: flex;
  border: 1px solid #176572;
  /* 设置边框颜色 */
  box-shadow: inset 0 0 10px 0.5px #302f2f;
}


.spanData {
  display: inline-block;
  width: 78px;
  line-height: 36px;
  color: #ffffff;
  padding-top: 7px;
  text-align: center;
  font-weight: bold;
  /* 使文字加粗 */
}

:root {
  --offset: 70px;
}

.cursor-not-allowed {
  color: #a073e2;
}

.cursor-default {
  cursor: default;
}

.btnBox {
  border-radius: 50px;
  width: 80px;
  color: #fefefe;
  border: none;
  outline: none;
  background-color: transparent;
  /* 将背景颜色设置为透明 */
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
  outline: none;
  outline-offset: 2px;
  font-family: "your-emoji-font", sans-serif;
  font-weight: bold;
  color: #f8f8f8;
  font-size: 34px;
  gap: 8px;
  padding: 0;
  flex-direction: column;
  opacity: 1;
  font-family: "your-emoji-font", sans-serif !important;
  cursor: pointer;
}

.btnBoxY {
  border-radius: 50px;
  width: 80px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #000;
  cursor: not-allowed !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
  outline: none;
  outline-offset: 2px;
  font-family: "your-emoji-font", sans-serif;
  font-weight: bold;
  color: #aba7b2;
  font-size: 34px;
  gap: 8px;
  padding: 0;
  flex-direction: column;
  opacity: 0.3;
}

.btn1 {
  color: #a073e2;
  color: #000;
  width: 20px;
  margin-bottom: 8px;
  height: 20px;
  font-size: 30px;
  border: none;
  outline: none;
  padding: 0px !important;
  background-color: #000;
}

.gray {
  filter: grayscale(100%);
  color: #a073e2;
  color: #000;
  width: 20px;
  margin-bottom: 8px;
  height: 20px;
  font-size: 30px;
  border: none;
  outline: none;
  padding: 0px !important;
  background-color: #000;
}

.bodyCon {
  height: calc(100vh - 60px);
  margin-top: 60px !important;
  position: relative;
}

.color-picker {
  display: flex;
  flex-wrap: wrap;
}

.color-option {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 50%;
}

.indicator {
  position: absolute;
  inset: 5px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  opacity: 0;
}

.color-option.selected .indicator {
  opacity: 1;
}

.rightPart {
  right: 0px;
  background-color: #2b0e3a;
  z-index: 9999999;
}

.canvasWrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.canvasWrapper::-webkit-scrollbar {
  width: 8px;
}

.canvasWrapper::-webkit-scrollbar-track {
  background-color: red;
  /* background-color: #2f1643; */
}

.canvasWrapper::-webkit-scrollbar-thumb {
  /* background-color: #2f1643; */
  background-color: red;
  border-radius: 4px;
}

.canvasWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #2f1643;
}

.commonCls1 {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  width: 78px;
  height: 78px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loadingContainer {
  /* position: absolute; */
  position: relative;
  right: 150px;
  bottom: 20px;
  width: 100px;
  height: 100px;
}

.btnConnect {
  border: none;
  height: 40px;
  width: 200px;
  background: none;
  color: #b00002;
  text-transform: uppercase;
  /* 将字母都大写 */
  font-size: 15px;
  font-weight: 700;
  background-image: url("../../images/addressback.webp");
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  letter-spacing: 1px;
}

.btnConnectbox {
  border: none;
  height: 50px;
  background: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.boldAddress {
  font-size: 16px;
  font-weight: bold;
}

.downBox {
  width: 200px;
  height: 160px;
  border: none;
  background-image: url("../../images/pageback.webp");
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  left: 70px;
  top: 38px;
  padding: 8px 16px;
  opacity: 1;
  /* box-shadow: inset 0 0 12px 0 #e7bdff33, 0 0 12px 0 #e7bdff0d; */
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.downBoxclocese {
  display: flex;
  flex-direction: column;
  /* 纵向排列 */
  align-items: center;
  /* 水平居中每个项 */
}

.downBoxItem {

  width: 100%;
  height: auto;
  padding: 8px 0;
  gap: 5px;
  opacity: 1;
  font-family: Silkscreen;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.04px !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
  font-family: "AdobeHeitiStd-Regular";
  margin: 5px 0;
}

.downBoxItem:hover {
  color: #26727f;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}


@font-face {
  font-family: "AdobeHeitiStd-Regular";
  src: url("/fonts/BRLNSR.ttf");
}

@font-face {
  font-family: "AdobeHeitiStd-Regular2";
  src: url("/fonts/Langyuanti.ttf");
}

.downBoxItemContent {
  width: 100%;
  text-align: center;
}

.overlaybox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 360px;
  padding: 40px;
  border: none;
  background-image: url("../../images/topup/questionback.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.popup {
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.contentbox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 23px;
  color: #ffffff;
  font-family: "AdobeHeitiStd-Regular2";
  letter-spacing: 2px;
  margin-top: 20px;
}




.topupbtn {
  width: 330px;
  height: 40px;
  background-color: #faae69;
  background-image: url("../../images/topup/Layerquestionback.webp");
  background-size: 100% 100%;
  background-position: center;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  transition: font-size 0.3s ease;
  text-transform: uppercase;
  text-shadow: -2px -2px 0 rgba(149, 148, 148, 0.7),
    2px -2px 0 rgba(177, 175, 175, 0.7),
    -2px 2px 0 rgba(165, 164, 164, 0.7),
    2px 2px 0 rgba(206, 206, 206, 0.7);
}

.topupbtn:hover {
  color: #ffffff;
  font-size: 25px;
  text-shadow:
    -1px -1px 0 rgba(56, 56, 56, 0.7),
    1px -1px 0 rgba(71, 71, 71, 0.7),
    -1px 1px 0 rgba(59, 59, 59, 0.7),
    1px 1px 0 rgba(69, 69, 69, 0.7)
}
