@font-face {
  font-family: "Zihun-Buding";
  src: url("/fonts/ZIHUN27BUDING.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alibaba-PuHuiTi-Bold";
  src: url("/fonts/Alibaba-PuHuiTi-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AdobeHeitiStd-Regular";
  src: url("/fonts/BRLNSR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
}

canvas {
  z-index: 1 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto !important;
}

.overlayPopStar {
  background-image: url('../../images/background.webp');
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100%);
  z-index: 999;
  height: 100%;
  pointer-events: auto !important;
}

.overlayPopStarFl {
  background-color: #200d2f;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100%);
  z-index: 999;
  height: 100%;
  pointer-events: auto !important;
}

.topContentType {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  background: radial-gradient(circle, #236975, #26727f);
  height: 10rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  position: fixed;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 15px rgba(0, 0, 0);
  font-family: "Zihun-Buding";
}

.containerImg {
  width: 25rem;
  height: 7rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 1.8rem;
  left: 1.5rem;
}

.gasPriceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  font-size: 3rem;
  color: #fff;
  position: fixed;
  top: 2rem;
  left: 27rem;
  letter-spacing: 0.05em;
  margin: 0 1rem;
}

.gasPriceContainer span {
  margin-left: 0.5rem;
  color: #ffe65a;
}

.gasPriceContainer a {
  text-decoration: none;
  color: #ffe65a;
}

.gasPriceContainer a:hover {
  text-decoration: underline;
}

.gasPricePlaceHolder {
  font-weight: bold;
}

.addr {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  right: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 2.2rem;
}

.chainbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4.5rem;
  gap: 1rem;
}

.chain {
  width: 18rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Chainbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 5rem;
  border: none;
  border-radius: 10rem;
  background: none;
  cursor: pointer;
}

.iconimg {
  width: 4.5rem;
  height: 4.5rem;
  border: 0.26rem solid white;
  border-radius: 50%;
}

.Chainbutton:hover .iconimg {
  transform: scale(1.06);
  transition: transform 0.3s ease;
}

.arrow {
  width: 2rem;
  height: 1.5rem;
  margin-left: 1.5rem;
  background-color: transparent;
  transform: rotate(0deg); 
}

.arrowRotated {
  transform: rotate(180deg);
}

.chainlinks {
  width: 35rem;
  display: block;
  position: absolute;
  background-color: #2b8e9d;
  margin-left: -25rem;
  margin-top: 1rem;
  z-index: 1;
  border-radius: 1rem;
}

.chainlinks a {
  color: #ffffff;
  padding: 12px 16px;
  font-size: 2rem;
  text-decoration: none;
  display: flex;
  align-items: center; 
  justify-content: left;
  position: relative;
  text-transform: none;
}

.chainlinks a img {
  margin-right: 1rem; 
}

.chainlinks a::after {
  content: '';
  display: block;
  width: 75%; 
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
}

.chainlinks a:last-child::after {
  display: none;
}
.chainlinks a .checkmark {
  width: 3rem;
  height: 3rem;
  margin-left: auto; 
}
.chainlinks a:hover {
  background-color: #45a0ae; 
  cursor: pointer; 
}

.chainlinks img {
  width: 3rem;
  height: 3rem;
}

.addressbox {
  min-width: 36rem;
  max-width: 40rem;
  height: 5rem;
  position: relative;
  display: flex;
  border-radius: 30rem;
  align-items: center;
  /* justify-content: center; */
  background: none;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.addressbox:hover .addressboxUserImg{
  transform: scale(1.06); 
}
.addressbox:hover .boldAddress{
  text-shadow: 2px 2px 3px rgba(0, 0, 0);
}

.addressboxUserImg{
  width: 4.7rem;
  height: 4.7rem;
}

.buyButton{
  display: flex;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

.buyButton img{
  width: 7rem;
  height: 6rem;
}

.buyButton:hover img{
  transform: scale(1.06);
}

.buyButton span {
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.buyButton:hover span {
  text-shadow: 2px 2px 3px rgba(0, 0, 0);
}

canvas {
  border: none;
  z-index: 1 !important;
}

.balanceNum {
  display: inline-block;
  margin-left: 25px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47.8125rem;
  height: 6.875rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: 38rem;
  background-image: url('../../images/PinkButtonheader.webp');
  background-size: 23rem 6rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 3rem;
}

.spanData {
  display: inline-block;
  line-height: 1.5rem;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
}

:root {
  --offset: 70px;
}

.cursor-not-allowed {
  color: #a073e2;
}

.cursor-default {
  cursor: default;
}

.btnBox {
  width: 5rem;
  height: 6.875rem;
  color: #fefefe;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
  outline: none;
  font-family: "your-emoji-font", sans-serif;
  font-weight: bold;
  color: #f8f8f8;
  font-size: 4.5rem;
  flex-direction: column;
  opacity: 1;
  font-family: "your-emoji-font", sans-serif !important;
  cursor: pointer;
}

.btnBoxY {
  width: 5rem;
  height: 6.875rem;
  color: #fefefe;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
  outline: none;
  font-family: "your-emoji-font", sans-serif;
  font-weight: bold;
  color: #f8f8f8;
  font-size: 4.5rem;
  flex-direction: column;
  opacity: 1;
  font-family: "your-emoji-font", sans-serif !important;
  cursor: pointer;
}


.bodyCon {
  height: calc(100vh - 60px);
  margin-top: 60px !important;
  position: relative;
}

.color-picker {
  display: flex;
  flex-wrap: wrap;
}

.color-option.selected .indicator {
  opacity: 1;
}

.canvasWrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.canvasWrapper::-webkit-scrollbar {
  width: 8px;
}

.canvasWrapper::-webkit-scrollbar-track {
  background-color: red;
  /* background-color: #2f1643; */
}

.canvasWrapper::-webkit-scrollbar-thumb {
  /* background-color: #2f1643; */
  background-color: red;
  border-radius: 4px;
}

.canvasWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #2f1643;
}

.commonCls1 {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  width: 78px;
  height: 78px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loadingContainer {
  /* position: absolute; */
  position: relative;
  right: 150px;
  bottom: 20px;
  width: 100px;
  height: 100px;
}

.btnConnect {
  border: none;
  height: 6.875rem;
  width: 40rem;
  background: none;
  color: #b00002;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  background-image: url("../../images/addressback.webp");
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  cursor: pointer;
  margin-left: 20rem;
  font-family: "Zihun-Buding";
}

.btnConnectbox {
  border: none;
  color: #fff;
  font-size: 2.3rem;
  font-weight: 700;
  margin-left: 3rem;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "Zihun-Buding";
  display: flex;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  width: 22rem;
}

.btnConnectbox img{
  width: 6rem;
  height: 5rem;
}

.btnConnectbox:hover img{
  transform: scale(1.06);
}

.btnConnectbox span {
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.btnConnectbox:hover span {
  text-shadow: 2px 2px 3px rgba(0, 0, 0);
}

.boldAddress {
  font-size: 2.3rem;
  font-weight: bold;
  border: none;
  background: none;
  letter-spacing: 0.15rem;
  color: #fff;
  font-family: "Zihun-Buding";
  margin-left: -1rem;
  cursor: pointer;
}

.downBox {
  width: 36rem;
  height: 25rem;
  border: none;
  background-image: url("../../images/pageback.webp");
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 100%;
  left: -1;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -0.45rem;
  font-family: "Zihun-Buding";
}

.downBoxclocese {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1rem;
}

.downBoxItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  padding: 2.5rem 0;
  height: auto;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
}

.downBoxItem:hover {
  color: #26727f;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

@font-face {
  font-family: "AdobeHeitiStd-Regular";
  src: url("/fonts/BRLNSR.woff2");
}

@font-face {
  font-family: "AdobeHeitiStd-Regular2";
  src: url("/fonts/Langyuanti.woff2");
}

@font-face {
  font-family: "Zihun-Buding";
  src: url("/fonts/ZIHUN27BUDING.TTF");
}

.downBoxItemContent {
  width: 100%;
  text-align: center;
}

.overlaybox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1000000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto !important;
}

.popup {
  width: 60rem;
  height: 55rem;
  border: none;
  background-image: url("../../images/topup/questionback.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contentbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 3rem;
  color: #ffffff;
  font-family: "AdobeHeitiStd-Regular2";
  letter-spacing: 2px;
  margin-top: 22rem;
}

.topupbtn {
  width: 45rem;
  height: 5rem;
  background-color: #faae69;
  background-image: url("../../images/topup/Layerquestionback.webp");
  background-size: 100% 100%;
  background-position: center;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 5rem;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  transition: font-size 0.3s ease;
  text-transform: uppercase;
  text-shadow: -2px -2px 0 rgba(149, 148, 148, 0.7),
    2px -2px 0 rgba(177, 175, 175, 0.7),
    -2px 2px 0 rgba(165, 164, 164, 0.7),
    2px 2px 0 rgba(206, 206, 206, 0.7);
}

.topupbtn:hover {
  color: #ffffff;
  font-size: 3.1rem;
  text-shadow:
    -1px -1px 0 rgba(56, 56, 56, 0.7),
    1px -1px 0 rgba(71, 71, 71, 0.7),
    -1px 1px 0 rgba(59, 59, 59, 0.7),
    1px 1px 0 rgba(69, 69, 69, 0.7)
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100%);
  z-index: 10000000;
  height: 100%;
  pointer-events: auto !important;
}

.modal {
  width: 35rem;
  background-image: url("../../images/substance/fail.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 8px;
  margin-left: 104rem;
  margin-top: 32rem;
}

.failto {
  width: 30px;
  height: 30px;
  float: left;
  margin-top: -10px;
}

.colorto {
  color: red;
  font-size: 13px;
  font-weight: 500;
  font-family: "AdobeHeitiStd-Regular4";
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: -4px;
}

.RankingListimg {
  display: flex;
  transition: transform 0.3s ease;
}

.RankingListimg img {
  width: 6.2rem;
  height: 6rem;
}

.RankingListimg:hover img,
.RankingListimgNotConnected:hover img{
  transform: scale(1.06);
}

.RankingListimg:hover span,
.RankingListimgNotConnected:hover span {
  text-shadow: 2px 2px 3px rgba(0, 0, 0);
}

.RankingListimgNotConnected {
  margin-left: 35rem;
}

.RankingListimgNotConnected img {
  width: 6rem;
  height: 6rem;
  transition: transform 0.3s ease;
}

.RankingListimg,
.RankingListimgNotConnected {
  display: flex;
  align-items: center;
}

.RankingListimg span,
.RankingListimgNotConnected span {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 100;
}

.LuckyBagImg {
  display: flex;
  transform: translateX(-5rem);
  transition: transform 0.3s ease;
}
.LuckyBagImgNotConnected {
  transform: translateX(30rem);
}

.LuckyBagImg img {
  width: 6.2rem;
  height: 6rem;
}

.LuckyBagImg:hover img,
.LuckyBagImgNotConnected:hover img{
  transform: scale(1.06);
}

.LuckyBagImg:hover span,
.LuckyBagImgNotConnected:hover span {
  text-shadow: 2px 2px 3px rgba(0, 0, 0);
}

.LuckyBagImgNotConnected {
  margin-left: 35rem;
}

.LuckyBagImgNotConnected img {
  width: 6rem;
  height: 6rem;
  transition: transform 0.3s ease;
}

.LuckyBagImg span,
.LuckyBagImgNotConnected span {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 100;
  color: #FFC940;
}

.LuckyBagImg,
.LuckyBagImgNotConnected {
  display: flex;
  align-items: center;
  background-image: url('../../images/LuckyBagBackground.gif');
  background-position: center -8.625rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: content-box;
  cursor: pointer !important;
}

.TopBuyImg {
  display: flex;
  margin-left: 5rem;
}

.TopBuyImg img {
  width: 6rem;
  height: 6rem;
  transition: transform 0.3s ease;
}

.TopBuyImg img:hover {
  transform: scale(1.1);
}

.TopBuyImgNotConnected {
  margin-left: 35rem;
}

.TopBuyImgNotConnected img {
  width: 6rem;
  height: 6rem;
  transition: transform 0.3s ease;
}

.TopBuyImgNotConnected img:hover {
  transform: scale(1.1);
}

.BGMButton { /* 喇叭按钮样式 */
  width: 4.5rem; /* 设置宽度 */
  height: 4.5rem; /* 设置高度 */
  border: none; /* 移除边框 */
  background-color: transparent; /* 背景透明 */
  cursor: pointer; /* 鼠标悬停时显示为手型 */
  display: flex; /* 使用 flex 布局 */
  align-items: center; /* 垂直居中对齐 */
  justify-content: center; /* 水平居中对齐 */
  padding: 0; /* 移除内边距 */
  box-shadow: none; /* 移除阴影 */
  transition: opacity 0.3s ease; /* 添加过渡效果 */
}

.BGMButton:hover{
  transform: scale(1.06);
}

.BGMButton img {
  width: auto;  /* 图片宽度自适应 */
  height: auto; /* 图片高度自适应 */
  max-width: 100%;  /* 限制图片最大宽度为父容器的100% */
  max-height: 100%; /* 限制图片最大高度为父容器的100% */
}

.waitingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other elements */
}

.waitingOverlayText {
  width: 80vw; /* Set width to 80% of the viewport width */
  max-width: 2052px; /* Maximum width */
  height: auto; /* Allow height to adjust automatically */
  font-family: "AdobeHeitiStd-Regular2";
  src: url("/fonts/Langyuanti.woff2");
  font-weight: 400; /* Font weight */
  font-size: 2vw; /* Responsive font size */
  color: #FFFFFF; /* Text color */
  line-height: 1.5; /* Line height for better spacing */
  text-align: center; /* Center the text */
  background: none; /* Background for the text */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Add some padding */
  box-sizing: border-box; /* Include padding in width/height calculations */
  transform: translateY(9%) scale(0.92);
}

.progressBar {
  position: relative;
  width: 40vw;
  height: 4vw;
  background: #0f82b0;
  border-radius: 2vw; /* 圆角 */
  margin: 0 auto;
  display: flex;
  align-items: center;
  overflow: visible; /* 确保溢出内容可见 */
  box-shadow: 0 0 1vw 0.5vw rgba(0, 255, 255, 0.5); /* 添加渐变的阴影效果 */
}

.progressFill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0; /* 宽度通过 inline style 动态设置 */
  background: #CBFFFD;
  background-size: 100% 100%; /* 确保背景图始终填满进度条的高度和宽度 */
  transition: width 0.1s ease;
  border-radius: 2vw 0 0 2vw; /* 左上和左下为圆角，右边保持直角 */
}

.diamondIcon {
  position: absolute;
  width: 7vw;
  height: 7vw;
  top: 60%; /* 垂直方向居中 */
  transform: translateX(-9%) translateY(-50%); /* 修正竖直方向的偏移，确保居中 */
  background-image: url('../../images/Diamond.webp');
  background-repeat: no-repeat;
  background-size: contain;
  transition: left 0.1s ease;
}

.progressText {
  position: absolute;
  top: 30%; /* 垂直居中 */
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.6vw;
  font-weight: bold;
  color: #0f82b0;
  transition: left 0.1s ease; /* 平滑的动画效果 */
  white-space: nowrap; /* 防止数字换行 */
}

.bottomLeftText {
  bottom: 4%;
  left: 3%;
  position: absolute;
  margin: 0 auto;
  text-align: left;
  text-transform: uppercase;
  color: rgba(23, 166, 124, 1);
  font-size: calc(0.35vw + 0.35vh + 0.35em);
  border: none;
  letter-spacing: 0.0625rem; 
  font-family: "AdobeHeitiStd-Regular";
}




.bottomLeftText p {
  margin-bottom: 0.8rem; 
  letter-spacing: 0.2rem;
}

.flashText {
  animation: blink 1s infinite ease-in-out;
  color: #ed6da4;
}

@keyframes blink {
  0% {
    opacity: 0.8;
    transform: scale(1) translateX(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.4) translateX(6rem);
    font-weight: 900;
  }
  100% {
    opacity: 0.8;
    transform: scale(1) translateX(0);
  }
}

.contentInviteConfirmWrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 91.08rem;
  height: 58.12rem;
  border: none;
  background-image: url("../../images/InviteFriends/InviteConfirmBg.webp");
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Alibaba-PuHuiTi-Bold";
}

.inviteCodeTitle {
  margin-top: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-transform: capitalize;
  color: #ffffff;
  text-shadow:
    1px 1px 4px rgba(0, 0, 0, 0.4),
    0 0 6px rgba(255, 255, 255, 0.3);
}

.inviteCode {
  height: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "AdobeHeitiStd-Regular";
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1.1rem;
  color: #ffffff;
  text-align: center;
  text-shadow:
    1px 1px 2px #838383,
    0 0 5px #8f8d8d,
    1px 1px 3px #949494,
    0 0 10px rgba(166, 166, 166, 0.5),
    0 0 2px #a3a3a3,
    0 0 3px #999898,
    0 0 4px #868585,
    0 0 5px rgba(183, 183, 183, 0.5),
    2px 0 2px #7f7f7f,
    3px 0 3px #7f7f7f,
    4px 0 4px #7f7f7f;
}

.charBox {
  padding: 0.3rem;
  border: 0.02rem solid #fbffdf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  width: 5.2rem;
  height: 5.2rem;
}

.inviteConfirmBtn {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
  width: 35rem;
  height: 5rem;
  background-image: url("../../images/gameover/paybutton.webp");
  background-size: 100% 100%;
  background-position: center;
  color: white;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
  color: #ffffff;
  transition: font-size 0.3s ease;
  text-transform: uppercase;
  text-shadow: -2px -2px 0 rgba(149, 148, 148, 0.7),
    2px -2px 0 rgba(177, 175, 175, 0.7),
    -2px 2px 0 rgba(165, 164, 164, 0.7),
    2px 2px 0 rgba(206, 206, 206, 0.7);
}

.inviteConfirmBtn:hover {
  color: #ffffff;
  font-size: 3.1rem;
  text-shadow:
    -1px -1px 0 rgba(56, 56, 56, 0.7),
    1px -1px 0 rgba(71, 71, 71, 0.7),
    -1px 1px 0 rgba(59, 59, 59, 0.7),
    1px 1px 0 rgba(69, 69, 69, 0.7)
}

.loadingStyle {
  animation: spin 5s linear infinite;
  -webkit-transform: rotate(3600deg);
  transform: rotate(3600deg);
  -webkit-transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  height: 100%;
}

/* ========== Target ============ */
.target{
  position: absolute;
  right: 40rem;
  top: 44rem;
  width: 42rem;
  height: 18rem;
  background-image: url("../../images/Target.webp");
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Simplicity";
  text-shadow:
  -0.2rem -0.2rem 0 white,
  0.2rem -0.2rem 0 white,
  -0.2rem 0.2rem 0 white,
  0.2rem 0.2rem 0 white;
}

.targetTitle{
  margin-top: 3.7rem;
  font-size: 3rem;
  color: #69341B;
  text-align: center;
}

.targetBody{
  margin-top: 1.8rem;
  color: rgba(105, 52, 27, 0.54);
  font-size: 3.2rem;
}